<template>
  <div>
    <h1>CSS Coding Guidelines</h1>

    <ul class="list">
      <li><span class="bold">OOCSS</span> (= separate structure from skin)</li>
      <li><span class="bold">BEM</span> &ndash; Strukturiert CSS Code besser.</li>
      <li><span class="bold">ITCSS</span> &ndash; Besseres Dateihandling.</li>
    </ul>

    <div>
      <img src="../../../assets/design/sass/coding_guidelines.jpg" alt="CSS Coding Guidelines" title="CSS Coding Guidelines">
    </div>

    <p>Wir haben unser CSS nach unserem eigenen Prinzip geschrieben, indem wir BEM mit ITCSS kombiniert haben. OOCSS,
      bei dem man Inhalt/Stil (Skin) und Abst&auml;nde/Gr&ouml;&szlig;en (Structure) voneinander trennt, fanden wir
      f&uuml;r unsere App zu komplex bzw. nicht n&uuml;tzlich. BEM (Block, Element, Modifier) dagegen hilft uns,
      den Code klarer zu strukturieren, indem wir nach block-element-modifier vorgehen. Mit ITCSS teilen wir zudem
      unsere SASS-Dateien in folgende Layer auf: 01: Settings, 02: Tools, 03: Generic, 04: Elements, 05: Objects,
      06: Components, 07: Utilities. So wei&szlig; man immer, in welchem &uuml;bergeordneten Layer/Ordner sich die
      betroffene Klasse/Variable befindet. Am Ende sehen die Klassennamen bei uns zum Beispiel so aus:</p>

    <p>Für die Benennung der .sass-Dateien haben wir einfach camelCase verwendet, da die Dateinamen relativ simpel gehalten sind.</p>

    <p class="italic">Verfasst von Lukas Fornaro</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
