<template>
  <div>
    <h1>Grid-Framework</h1>

    <p>Grid-Frameworks wie Bootstrap erleichtern einem die Arbeit der Formatierung des Frontends. Hier haben wir am Anfang
      des Semesters wieder drei verschiedene Frameworks verglichen:</p>

    <div>
      <img src="../../../assets/design/sass/grid.jpg" alt="Grid-Framework" title="Grid-Framework">
    </div>

    <p>Letztendlich haben wir uns f&uuml;r chromagrid entschieden, da ein reines Grid-Framework ohne overhead f&uuml;r
      dieses Projekt ausreichend war. Dazu kam noch, dass es von Manuel Piepereit, einem ehemaligen Multimedia-Student
      an der HSA, entwickelt wurde, welcher jetzt Gesch&auml;ftsf&uuml;hrer bei neonpastell in Augsburg ist. Lukas hatte
      au&szlig;erdem schon mit neonpastell zusammengearbeitet und so Erfahrung mit chromagrid gesammelt. Bei Fragen konnten
      wir uns also jederzeit direkt an den Entwickler wenden. Den Studenten und Professoren hat auch die Idee gefallen,
      ein Framework zu benutzen, das lokal bekannt ist und damit ein Partnerunternehmen aus direkter N&auml;he zu helfen,
      welches die Hochschule Augsburg ebenfalls unterst&uuml;tzt.</p>

    <p class="italic">Verfasst von Lukas Fornaro</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
