<template>
  <div>
    <h1>SASS</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>SASS bietet viele Vorteile gegenüber Standard CSS, da es kleine Helfer wie Variablen, Nesting, Mixins oder Operators
      bietet, ähnlich wie bei LESS, Stylus oder anderen Preprocessors. Wir haben hier am Anfang des Semesters die drei
      bekanntesten verglichen.</p>

    <div>
      <img src="../../../assets/design/sass/css_preprocessor.jpg" alt="CSS Preprocessor" title="CSS Preprocessor">
    </div>

    <p>Hier hat SASS am Besten abgeschnitten (SASS sollte hier eigentlich 11 Punkte haben und LESS 9).
      SASS ist au&szlig;erdem der am weitesten verbreitete Preprocessor, w&auml;hrend LESS schon fast am Aussterben ist.
      Unser Frontend-Team hatte zudem bereits Erfahrung mit SASS gesammelt.</p>

    <p>Nun hatten wir noch die Wahl der Syntax: SASS (.sass) oder SCSS (.scss) stehen hier zur Wahl. Wir haben uns hier
      f&uuml;r reines SASS (.sass) entschieden, da es weniger Schreibaufwand ist und sch&ouml;ner aussieht: Semikolons und
      geschweifte Klammern fallen vollst&auml;ndig weg. Lediglich f&uuml;r die Einbindung unseres Grid-Frameworks (chromagrid),
      welches auf SCSS basiert, haben wir dieses Format benutzt. Zum Gl&uuml;ck lassen sich diese beiden Formate problemlos
      kombinieren. Chromagrid wird &uuml;ber den Ordner 00_vendor importiert.</p>


    <h2>Anmerkungen zur Dateistruktur</h2>
    <p>In den Settings (Ordner 01_settings) haben wir folgende .sass-Dateien:</p>
    <ul class="list">
      <li><span class="bold">colors.sass</span> &ndash; Enth&auml;lt alle Farbvariablen und einige wenige Farbklassen.</li>
      <li><span class="bold">fonts.sass</span> &ndash; Enth&auml;lt alle Schriftgr&ouml;ßen, Schriftst&auml;rken und
        Zeilenh&ouml;hen als Variablen und als Klassen. Definiert Roboto als Standardfont.</li>
      <li><span class="bold">grid.scss</span> &ndash; Definiert das Grid mit 12 Spalten (cols-12), 16px Spaltenabstand
        (gutter) und 3 Breakpoints (sm: 320px, md: 360px, lg: 480px).
        Außerdem werden hier flexbox, für mehr M&ouml;glichkeit zum Positionieren, und mobile-first aktiviert.</li>
      <li><span class="bold">paddings.sass</span> &ndash; Hier werden sowohl die Variablen pad-half, pad, pad-double und pad-triple als auch die zugeh&ouml;rigen
        Klassen f&uuml;r alle, nur vertikale oder auch nur horizontale Abst&auml;nde definiert.</li>
      <li><span class="bold">properties.sass</span> &ndash; Hier befinden sich hauptsächlich Variablen für verschieden starke, außen- oder innenliegende
        Schatten sowie verschiedene Größen für abgerundete Ecken (border-radius).</li>
    </ul>

    <p>Wichtig sind außerdem vor allem die Dateien im Ordner 06_components:</p>
    <ul class="list">
      <li><span class="bold">Cards.sass</span> &ndash; Enth&auml;lt alle Styles zu den Cards.</li>
      <li><span class="bold">fleetListItem.sass</span> &ndash; Enth&auml;lt alle Styles f&uuml;r ein einzelnes Listenelement.</li>
      <li><span class="bold">map.sass</span> &ndash; Enth&auml;lt (fast) alle Styles f&uuml;r Objekte, die auf der Map liegen.</li>
      <li><span class="bold">modal.sass</span> &ndash; Enth&auml;lt alle Styles f&uuml;r die Fullscreen Graphen.</li>
      <li><span class="bold">navigationBar.sass</span> &ndash; Enth&auml;lt alle Styles f&uuml;r die obere Navigationsbar.</li>
      <li><span class="bold">searchBar.sass</span> &ndash; Enth&auml;lt alle Styles für die Suchleiste in der Liste.</li>
    </ul>
    <div class="space"></div>


    <h2>Anmerkungen zum CSS Coding Style</h2>
    <p>Wir haben uns eigene Klassen f&uuml;r Schriftgr&ouml;&szlig;en, -st&auml;rken aber auch f&uuml;r margin und padding
      geschrieben, die wir im HTML-Code schnell und flexibel einsetzen konnten. Dies hat uns vor allem beim &ldquo;roughen&rdquo;
      Styling am Anfang sehr effizient geholfen.</p>

    <p>Wir haben keine mixins verwendet, sondern ausschlie&szlig;lich mit Variablen gearbeitet. Mixins sind in erster Linie
      daf&uuml;r da, die verschiedenen Prefixes bei schlecht unterst&uuml;tzten CSS-Eigenschaften zu aggregieren,
      wie z.b. webkit-border-radius oder -moz-border-radius. Da unsere App aber f&uuml;r Smartphones mit Bildschirmen von
      mindestens einer Aufl&ouml;sung mit 320px Breite konzipiert ist und diese Ger&auml;te moderne Browser besitzen, die CSS3
      vollst&auml;ndig unterst&uuml;tzen, haben wir uns die mixins gespart und einfach Variablen mit Standard CSS3 geschrieben.</p>

    <p>Wir haben eine CSS-Reset Datei verwendet, um unerw&uuml;nschte Abst&auml;nde oder Formatierungen zu vermeiden.</p>

    <p>Wir benutzen nur in Ausnahmef&auml;llen keine .sass-Datein zum Styling:</p>
    <ul class="list">
      <li>Wir benutzen &lt;scoped&gt; SASS, wenn sonst &Uuml;berschreibungen bzw. Specificity-Probleme auftreten.</li>
      <li>F&uuml;r chart.js m&uuml;ssen die Styles &uuml;ber die jeweils zugeh&ouml;rigen Javascript-Dateien eingebunden werden.</li>
    </ul>
    <p class="italic">Verfasst von Lukas Fornaro</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
