<template>
  <div>
    <h1>FleetListItem</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Die Liste innerhalb der <a @click="openFleetList">FleetList</a>.</p>

    <h2>Beschreibung</h2>
    <p>Stellt alle Informationen eines Listenselements und deren Funktionen dar.</p>

    <h2>Komponenten</h2>
    <p>keine</p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">breadcrumpPath</div>
        <div class="td">Array</div>
        <div class="td">Beinhaltet die einzelnen Elemente der Breadcrump ab.</div>
      </div>

      <div class="tr">
        <div class="td italic">itemId</div>
        <div class="td">String</div>
        <div class="td">Die Datenbank id eines Elements.</div>
      </div>

      <div class="tr">
        <div class="td italic">listItemData</div>
        <div class="td">Object</div>
        <div class="td">Enth&auml;lt alle Werte die in der Liste dargestellt werden sollen.</div>
      </div>

      <div class="tr">
        <div class="td italic">reactivePower</div>
        <div class="td">Number</div>
        <div class="td">Speichert den verkleinerten Wert der Reactive Power.</div>
      </div>

      <div class="tr">
        <div class="td italic">reactivePowerUnit</div>
        <div class="td">String</div>
        <div class="td">Die Einheit der Reactive Power.</div>
      </div>

      <div class="tr">
        <div class="td italic">activePower</div>
        <div class="td">Number</div>
        <div class="td">Speichert den verkleinerten Wert der Active Power.</div>
      </div>

      <div class="tr">
        <div class="td italic">activePowerUnit</div>
        <div class="td">String</div>
        <div class="td">Die Einheit der Active Power.</div>
      </div>

      <div class="tr">
        <div class="td italic">isAlarmOpen</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an ob das Alarm/Graphen Flyout geöffnet ist oder nicht.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__listItemData</div>
        <div class="td">Object</div>
        <div class="td">Nimmt das von <a @click="openNavigationBar">NavigationBar</a> &uuml;bergebene Array <span class="italic">listItem</span> entgegen. F&uuml;r den Inhalt
          dieses Array kann ein einzelner Arrayeintrag in <a @click="openNavigationBar">NavigationBar</a> <span class="italic">listElementsServer</span> betrachtet
          werden.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__listItemData</div>
        <div class="td">String</div>
        <div class="td">Beinhaltet das Navigationslevel der Liste (Fleet, Park, etc.).</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__lastPath</div>
        <div class="td">String</div>
        <div class="td">Beinhaltet den letzen Datenbankquery.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__maxVals</div>
        <div class="td">Object</div>
        <div class="td">Beinhaltet die Schleifendurchl&auml;ufe, die zum Verkleinern der Reactive und Active Power
          Werte n&ouml;tig waren. Siehe <a>FleetList</a> <span class="italic">maxVals</span>.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Events</h2>
    <p>Dieses Modul besitzt Listener f&uuml;r folgende Events:</p>

    <div class="table table4">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Ausl&ouml;ser</div>
        <div class="td">Daten</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">updateBreadcrump</div>
        <div class="td">Sobald der Nutzer vor oder zur&uuml;ck navigiert und sich die Breadcrump &auml;ndert.</div>
        <div class="td">
          <p><span class="bold">breadcrump</span> &ndash; Die aktuelle Breadcrump.</p>
        </div>
        <div class="td">
          <p>Die mitgeschickten Daten werden in <span class="italic">breadcrumpPath</span> abgespeichert.</p>
        </div>
      </div>

      <div class="tr">
        <div class="td italic">closeEveryGraphBar</div>
        <div class="td">Sobald in einem Listelement <span class="italic">openGraphs()</span> aufgerufen wird.</div>
        <div class="td">
          <p><span class="bold">name</span> &ndash; Name des Elements, welches <span class="italic">openGraphs()</span> aufgerufen hat.</p>
        </div>
        <div class="td">
          <p>Speichert den aktuellen Zustand von <span class="italic">isAlarmOpen</span> in eine tempor&auml;re Variable lastState.
            Danach wird <span class="italic">isAlarmOpen</span> auf false gesetzt, was ein schlie&szlig;en aller Flyouts zur Folge hat. Direkt
            danach wird &uuml;berpr&uuml;ft ob der Name des Listenelement mit dem Namen des Elementes, welches das
            Event ausgel&ouml;st hat &uuml;bereinstimmt. Falls ja wird <span class="italic">isAlarmOpen</span> der negierte Wert von lastState
            zugewiesen.</p>
          <p>Dieser Vortrag dient dazu, dass sobald das Flyout von einem Element ge&ouml;ffnet werden soll, sich alle
            anderen schlie&szlig;en, da immer nur eines aktiv sein soll.</p>
        </div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Created</h2>
    <p>Sobald das Element von Vue.js erzeugt wird, wird die <span class="italic">normalizeDataValues</span> Funktion aufgerufen welche die
      Werte anhand der &uuml;bergebenen <span class="italic">maxVals</span> alle Daten der Reactive und Active Power auf eine gemeinsame
      Einheit verkleinert.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openFleetList () {
        eventBus.$emit('componentClick', 'app-fleetlist')
      },
      openNavigationBar () {
        eventBus.$emit('componentClick', 'app-navigationbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
