<template>
  <div>
    <h1>FleetList</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Die Liste innerhalb der <a @click="openNavigationBar">NavigationBar</a>.</p>

    <h2>Beschreibung</h2>
    <p>Dient als Wrapper f&uuml;r alle Listenelemente.</p>

    <h2>Komponenten</h2>
    <p><a @click="openFleetListItem">FleetListItem</a></p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">listItemsServer</div>
        <div class="td">Array</div>
        <div class="td">Speichert alle Listenelemente ab.</div>
      </div>

      <div class="tr">
        <div class="td italic">listITypeServer</div>
        <div class="td">String</div>
        <div class="td">Speichert den vom Server gelieferte Typ der Liste (Fleet, Park, etc.).</div>
      </div>

      <div class="tr">
        <div class="td italic">maxVals</div>
        <div class="td">Object</div>
        <div class="td">Speichert die h&ouml;chsten Energiewerte aller Listenelemente. Diese geben die Einheit f&uuml;r
          alle anderen Energiewerte vor.</div>
      </div>
        <div class="tr">
          <div class="td italic td-left">activeCtn</div>
          <div class="td">Number</div>
          <div class="td">Gibt an, wie oft der Active Power Wert geteilt werden musste um &lt; 10000 zu sein.</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">reactiveCtn</div>
          <div class="td">String</div>
          <div class="td">Speichert den von Nutzer im der Suche eingegeben Text.</div>
        </div>

      <div class="tr">
        <div class="td italic">filterText</div>
        <div class="td">String</div>
        <div class="td">Speichert den letzten Request an den Server, wird daf&uuml;r ben&ouml;tigt um nach dem
          Schlie&szlig;en der Detailansicht die korrekte Navigationsebene wieder zu laden.</div>
      </div>

      <div class="tr">
        <div class="td italic">lastPath</div>
        <div class="td">String</div>
        <div class="td">Speichert den letzten Request an den Server, wird daf&uuml;r ben&ouml;tigt um nach dem
          Schlie&szlig;en der Detailansicht die korrekte Navigationsebene wieder zu laden.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__listItemsServer</div>
        <div class="td">Array</div>
        <div class="td">Nimmt das von <a @click="openNavigationBar">NavigationBar</a> &uuml;bergebene Array <span class="italic">listItemsServer</span> entgegen.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__listTypeServer</div>
        <div class="td">String</div>
        <div class="td">Nimmt das von <a @click="openNavigationBar">NavigationBar</a> &uuml;bergebene String <span class="italic">listTypeServer</span> entgegen.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__lastPath</div>
        <div class="td">String</div>
        <div class="td">Nimmt das von <a @click="openNavigationBar">NavigationBar</a> &uuml;bergebene String <span class="italic">lastPath</span> entgegen.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Watch</h2>
    <p>Diese Komponente benutzt watched Elemente, um auf Ver&auml;nderungen der Properties zu reagieren.</p>
    <div class="table table2">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__listItemsServer</div>
        <div class="td">
          <p>Sobald sich dieser Wert ver&auml;ndert werden alle Werte f&uuml;r Reactive und Active Power in einer
            Schleife durchlaufen und der maximale Wert aller Werte abgespeichert.</p>
          <p>In einem n&auml;chsten Schritt wird &uuml;berpr&uuml;ft wie h&auml;ufig die beiden Maximalwerte geteilt werden m&uuml;ssen
            um &lt; 10000 zu sein. Dabei wird pro Durchlauf f&uuml;r jeden art ein Counter hochgez&auml;hlt. Ist der Wert &lt;
            10000 wird dieser Counter in <span class="italic">reactiveCtn</span> bzw. <span class="italic">activeCtn</span> gespeichert.</p>
        </div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Computed</h2>
    <p>Diese Komponente benutzt computed properties um Variablen direkt und dynamisch zu ver&auml;ndern.</p>
    <div class="table table2">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">filteredListItems</div>
        <div class="td">
          <p>Returned alle Elemente aus listItemsServer welche mit <span class="italic">filterText</span> &uuml;bereinstimmen. Auf der
            Basis von diesem Return werden alle Listenelemente gezeichnet.</p>
        </div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Events</h2>
    <p>Dieses Modul besitzt Listener für folgende Events:</p>

    <div class="table table4">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Ausl&ouml;ser</div>
        <div class="td">Daten</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">searchQueryFired</div>
        <div class="td">Sobald der Nutzer eine Eingabe im Suchfeld macht.</div>
        <div class="td">
          <p><span class="bold">query</span> &ndash; Die Suchanfrage.</p>
        </div>
        <div class="td">
          <p>Die mitgeschickte Suchanfrage wird in <span class="italic">filterText</span> gespeichert.</p>
        </div>
      </div>
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openFleetListItem () {
        eventBus.$emit('componentClick', 'app-fleetlistitem')
      },
      openNavigationBar () {
        eventBus.$emit('componentClick', 'app-navigationbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
