<template>
  <div>
    <h1>Mainview</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper für die Navigation und die Karte.</p>

    <h2>Beschreibung</h2>
    <p>Beinhaltet die Komponenten <a @click="openMap">Map</a> und <a @click="openNavigationBar">NavigationBar</a>. Dient als erstes Element, welches vom Router geladen wird.</p>

    <h2>Komponenten</h2>
    <p>keine</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openMap () {
        eventBus.$emit('componentClick', 'app-map')
      },
      openNavigationBar () {
        eventBus.$emit('componentClick', 'app-navigationbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
