<template>
  <div>
    <h1>NavigationTopBar</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Der obere Teil der <a @click="openNavigationBar">NavigationBar</a>.</p>

    <h2>Beschreibung</h2>
    <p>Stellt eine Breadcrump sowie Informationen &uuml;ber Active und Reactive Power sowie den
      Prozentsatz an aktiven Turbinen visuell und in Graphen dar.</p>

    <h2>Komponenten</h2>
    <p><a @click="openLineChart">LineChart</a></p>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">prop__dataForTopBar</div>
        <div class="td">Object</div>
        <div class="td">Nimmt das von <a @click="openNavigationBar">NavigationBar</a> &uuml;bergebene Objekt <span class="italic">dataForTopBar</span> entgegen.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">navigateBack(event)</div>
        <div class="td">dient dazu in den Navigationsebenen zur&uuml;ck zu navigieren. Daf&uuml;r wird &uuml;berpr&uuml;ft ob der
          Button auch tats&auml;chlich als Zur&uuml;ck-Button dient (<span class="italic">prop__dataForTopBar.isBackButton</span> ist in diesem Fall
          true). Zus&auml;tzlich wird noch die aktuelle Navigationsebene ermittelt. Diese drei Informationen werden in
          einem Objekt geb&uuml;ndelt und dem ausgel&ouml;sten <span class="italic">navigateBack</span> Event mitgegeben. Zus&auml;tzlich dazu wird
          das <span class="italic">closeEveryGraphBar</span> Event ausgel&ouml;st um in der Liste alle eventuell ge&ouml;ffneten Tabs zu schlie&szlig;en.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/navigationTopBar_navigateBack.jpg" alt="Code" title="Code">
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openLineChart () {
        eventBus.$emit('componentClick', 'app-linechart')
      },
      openNavigationBar () {
        eventBus.$emit('componentClick', 'app-navigationbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
