<template>
  <div>
    <h1>NavigationBar</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper f&uuml;r die Komponenten der Navigation. Dient als Punkt der Datenhaltung.</p>

    <h2>Beschreibung</h2>
    <p>Beinhaltet die Komponenten <a @click="openNavigationTopBar">NavigationTopBar</a>, SearchBar und <a @click="openFleetList">FleetList</a>. Dient
      dar&uuml;ber hinaus als Punkt von welchem die ServerRequests gefeuert werden, die Daten gespeichert und
      verteilt werden.</p>

    <h2>Komponenten</h2>
    <p><a @click="openNavigationTopBar">NavigationTopBar</a>, SearchBar und <a @click="openFleetList">FleetList</a></p>
    <div class="space"></div>

    <h2>Globale Variablen</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">firstRenderDone</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an, ob die Seite bereits geladen wurde oder nicht.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">isLoading</div>
        <div class="td">Boolean</div>
        <div class="td">Zeigt oder versteckt jede nach Wert den Spinner.</div>
      </div>

      <div class="tr">
        <div class="td italic">dataForTopBar</div>
        <div class="td">Boolean</div>
        <div class="td">Beinhaltet alle Objekte, welche an die Komponente <a @click="openNavigationTopBar">NavigationTopBar</a>
          geliefert werden.</div>
      </div>
        <div class="tr">
          <div class="td italic td-left">navPath</div>
          <div class="td">Array</div>
          <div class="td">In diesem Array wird der aktuelle Navigationspfad des Nutzers abgespeichert, wird
            dazu verwendet um die Breadcrump darzustellen.</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">isActive</div>
          <div class="td">Boolean</div>
          <div class="td">Gibt an, ob die Navigationsleiste ein oder ausgeklappt ist. Wird dazu verwendet den
            Pfeil nach oben oder unten zu drehen.</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">isBackButton</div>
          <div class="td">Boolean</div>
          <div class="td">Gibt an, ob der Nutzer sich auf der obersten oder einer der unteren
            Navigationsebenen befindet. Wird dazu verwendet den Pfeil nach links zu Drehen und die
            zur&uuml;ck Navigation zu erm&ouml;glichen.</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">aggregatedChartDataServer</div>
          <div class="td">Array</div>
          <div class="td">Beinhaltet die Datenpunkte f&uuml;r die Graphen.</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">aggregatedDataServer</div>
          <div class="td">Object</div>
          <div class="td">Beinhaltet die Werte der einzelnen Energien.</div>
        </div>
          <div class="tr">
            <div class="td italic td-left2">reactivePower</div>
            <div class="td">Number</div>
            <div class="td">Wert der Reactive Power.</div>
          </div>
          <div class="tr">
            <div class="td italic td-left2">reactivePowerUnit</div>
            <div class="td">String</div>
            <div class="td">Einheit der Reactive Power.</div>
          </div>
          <div class="tr">
            <div class="td italic td-left2">activePower</div>
            <div class="td">Number</div>
            <div class="td">Wert der Active Power.</div>
          </div>
          <div class="tr">
            <div class="td italic td-left2">activePowerUnit</div>
            <div class="td">String</div>
            <div class="td">Einheit der Active Power.</div>
          </div>
          <div class="tr">
            <div class="td italic td-left2">activeTurbines</div>
            <div class="td">Number</div>
            <div class="td">Wert an aktiven Turbinen.</div>
          </div>
        <div class="tr">
          <div class="td italic td-left">listTypeServer</div>
          <div class="td">String</div>
          <div class="td">Der vom Server gelieferte Typ der Liste (Fleet, Park, etc.).</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">parentHref</div>
          <div class="td">String</div>
          <div class="td">Der Link zum Elternelement. Wird für das Zur&uuml;ck-Navigieren verwendet.</div>
        </div>
        <div class="tr">
          <div class="td italic td-left">topBarValues</div>
          <div class="td">Object</div>
          <div class="td">Beinhaltet die Werte der f&uuml;r TopBar.</div>
        </div>
          <div class="tr">
            <div class="td italic td-left2">timeSpan</div>
            <div class="td">String</div>
            <div class="td">Die vom Nutzer eingestellte Zeitspanne für die Datendarstellung.</div>
          </div>
          <div class="tr">
            <div class="td italic td-left2">count</div>
            <div class="td">Number</div>
            <div class="td">Gibt die Anzahl der in der Liste dargestellten Elemente an.</div>
          </div>
          <div class="tr">
            <div class="td italic td-left2">type</div>
            <div class="td">String</div>
            <div class="td">Gibt an in welcher Navigationsebene sich der Nutzer befindet (Park, Feederline,
              etc.).</div>
          </div>

      <div class="tr">
        <div class="td italic">lastPath</div>
        <div class="td">String</div>
        <div class="td">Speichert den letzten Request an den Server, wird daf&uuml;r ben&ouml;tigt um nach dem
          Schlie&szlig;en der Detailansicht die korrekte Navigationsebene wieder zu laden.</div>
      </div>

      <div class="tr">
        <div class="td italic">listElementsServer</div>
        <div class="td">Array</div>
        <div class="td">Beinhaltet alle in der Liste darzustellenden Elemente.</div>
      </div>

      <div class="tr">
        <div class="td italic">listTypeServer</div>
        <div class="td">String</div>
        <div class="td">Der vom Server gelieferte Typ der Liste (Fleet, Park, etc.).</div>
      </div>

      <div class="tr">
        <div class="td italic">markers</div>
        <div class="td">Array</div>
        <div class="td">Beinhaltet alle Marker, welche auf der Karte dargestellt werden sollen.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">calculateUnitFactor(number)</div>
        <div class="td">Nimmt eine Zahl entgegen und berechnet anhand ihr das korrekte Pr&auml;fix f&uuml;r die Einheit
          (da - Y).</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/navigationBar_calculateUnitFactor.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">normalizeDataValues()</div>
        <div class="td">Verkleinert die Werte von Active und Reactive Power f&uuml;r NAVIGATIONTOPBAR solange
          bis sie &lt; 1000 sind. Ruft in sich calculateUnitFactor() auf um die verkleinerten Werte mit den korrekten
          Einheiten zu versehen. Rundet die Werte auf eine Ganzzahl.).</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/navigationBar_normalizeDataValues.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">toggleBottomBar()</div>
        <div class="td">Klappt das Element entweder ein oder aus. Emitted zus&auml;tzlich noch ein Event und die
          &uuml;ber den aktuellen Status zu informieren.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/navigationBar_toggleBottomBar.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">getDataFromAPI(String)</div>
        <div class="td">
          <p>Nimmt einen Link entgegen und sendet diesen als Request an die API. Dabei speichert
          er der Link in die Variable lastPath um ihn f&uuml;r ein sp&auml;teres Zur&uuml;ck-Navigieren aus der CARDS
          verf&uuml;gbar zu machen.</p>
          <p>Das <span class="italic">markers</span> Array wird geleert um Platz f&uuml;r die neuen Marker zu machen.</p>
          <p>Im n&auml;chsten Schritt werden die vom Server empfangen Daten in ihre korrekten Variablen gespeichert.
            Bei einigen werden noch Anpassungen wie <span class="italic">normalizeDataValues()</span> durchgef&uuml;hrt.</p>
          <p>Zus&auml;tzlich dazu werden auf Basis der von der API empfangenen Daten zus&auml;tzlich noch die Marker f&uuml;r
            die Karte erstellt und per <span class="italic">markersSet</span> Event an diese geschickt. W&auml;hrend dem gesamten Vorgang wird
            die Variable <span class="italic">isLoading</span> auf true gesetzt und der Spinner somit angezeigt. Erst wenn alle Aktionen
            beendet sind wird der Wert auf false zur&uuml;ck gesetzt.</p>
        </div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/navigationBar_getDataFromAPI.jpg" alt="Code" title="Code">
    </div>
    <div class="space"></div>


    <h2>Events</h2>
    <div class="table table4">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Ausl&ouml;ser</div>
        <div class="td">Daten</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">fleetWasChosen</div>
        <div class="td">Sobald ein Listenelement ausgew&auml;hlt wurde (&uuml;ber die Liste oder den Marker).</div>
        <div class="td">
          <p><span class="bold">name</span> &ndash; Der Namen des Ausgel&ouml;sten Elements. Wird <span class="italic">dataForTopBar.navPath</span> hinzugef&uuml;gt um die
            Breadcrump zu bilden.</p>
          <p><span class="bold">href</span> &ndash; Der Link zu den Informationen des ausgew&auml;hlten Elements.</p>
          <p><span class="bold">wasMarker</span> &ndash; Boolean liefert True wenn event von einem Marker oder Listenelement ausgel&ouml;st
            wurde.</p>
        </div>
        <div class="td">
          <p>Der mitgeschickte Name wird <span class="italic">dataForTopBar.navPath</span> hinzugef&uuml;gt um die Breadcrump zu
            bilden. Zus&auml;tzlich dazu wird das <span class="italic">updateBreadcrump</span> Event ausgel&ouml;st um die Breadcrumps an allen
          relevanten Stellen zu aktualisieren.</p>
          <p>Da wenn dieses Event ausgel&ouml;st wird der Nutzer definitiv eine Ebene herunter navigiert wird
            <span class="italic">dataForTopBar.isBackButton</span> auf true gesetzt um den Zur&uuml;ck-Button anzuzeigen.
            <span class="italic">getDataFromAPI()</span> wird mit den mitgeschickten href Attribut aufgerufen um die entsprechenden Daten
            vom Server zu holen.</p>
        </div>
      </div>

      <div class="tr">
        <div class="td italic">navigateBack</div>
        <div class="td">Sobald die Zur&uuml;ck-Navigation stattfindet.</div>
        <div class="td">
          <p><span class="bold">callType</span> &ndash; Das aktuelle Navigationslevel auf welchem sich der Nutzer befindet.</p>
          <p><span class="bold">href</span> &ndash; Der Link zu den Informationen des ausgew&auml;hlten Elements.</p>
          <p><span class="bold">wasMarker</span> &ndash; Boolean liefert true wenn Event vom Z&uuml;ruckBottom der <a @click="openNavigationTopBar">NavigationTopBar</a>
            ausgel&ouml;st wurde.</p>
        </div>
        <div class="td">
          <p>Der letze Eintrag im <span class="italic">dataForTopBar.navPath</span> Array wird gel&ouml;scht um die Breadcrump zu
            aktualisieren. Zus&auml;tzlich dazu wird das updateBreadcrump Event ausgel&ouml;st um die Breadcrumps an
            allen relevanten Stellen zu aktualisieren.</p>
          <p><span class="italic">getDataFromAPI()</span> wird mit den mitgeschickten href Attribut aufgerufen um die entsprechenden Daten
            vom Server zu holen.</p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Created</h2>
    <p>Sobald das Element von Vue.js erzeugt wird, wird anhand firstRenderDone &uuml;berpr&uuml;ft ob der Nutzer das erste
      Mal auf die Seite kommt oder die Seite ge&ouml;ffnet wird nachdem der Nutzer die Cards geschlossen hat. Tritt
      der erste Fall ein wird <span class="italic">getDataFromAPI()</span> mit einer fixen EintrittsHREF aufgefunden. Die Daten geladen und
      <span class="italic">firstRenderDone</span> auf false gesetzt.</p>
    <p>Ist der zweite Fall eingetreten wird auf Basis des &uuml;ber die URL mitgegeben Links <span class="italic">getDataFromAPI()</span>
      aufgefunden und die entsprechenden Daten (ggf. f&uuml;r eine tiefere Ebene) geladen. Zus&auml;tzlich dazu wird aus
      den URL Parametern die korrekte Breadcrump rekonstruiert und der Zur&uuml;ck-Button anzeigt oder nicht.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openFleetList () {
        eventBus.$emit('componentClick', 'app-fleetlist')
      },
      openNavigationTopBar () {
        eventBus.$emit('componentClick', 'app-navigationtopbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
