<template>
  <div class="column-1of1">
    <app-header></app-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Header from './components/header/HeaderArea.vue'
  import Footer from './components/footer/FooterArea.vue'

  export default {
    components: {
      'app-header': Header,
      'app-footer': Footer
    }
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    line-height: 1.5;
    color: #778790;
  }

  h1, ul {
    font-weight: 700;
    font-size: 120%;
    list-style-type: none;
  }

  p {
    margin: 0 0 20px 0;
  }

  a {
    text-decoration: none;
    color: #2387AB !important;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    height: auto;
    max-width: 100%;
    border: 1px solid #778790;
    margin: 0 0 20px 0;
  }

  .space {
    margin: 40px 0 40px 0;
  }

  .space2 {
    margin: 40px 0 0 0;
  }

  .column-1of1 {
    width: 100%;
  }

  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  .list, .table, .table2 {
    margin: 0 0 20px 0;
  }

  .border {
    border-bottom: 1px solid #F1F1F1;
  }

  .table{
    display: table;
    border-collapse:collapse;
    width: 100%;
  }

  .table .tr{
    border-bottom: 1px solid #F1F1F1;
  }

  .table .tr:last-of-type{
    border-bottom: none;
  }

  .tr {
    display:table-row;
  }

  .td {
    display:table-cell;
    padding: 3px 20px 3px 0;
  }

  .table2 .td:nth-child(1),
  .table3 .td:nth-child(1),
  .table4 .td:nth-child(1){
    min-width: 260px;
    width: 20%;
  }

  .table2 .td:nth-child(2) {
    width: 85%;
  }

  .table3 .td:nth-child(2) {
    min-width: 100px;
    width: 10%;
  }

  .table3 .td:nth-child(3) {
    width: 75%;
  }

  .table4 .td:nth-child(2) {
    width: 20%;
  }

  .table4 .td:nth-child(3) {
    width: 20%;
  }

  .table4 .td:nth-child(4) {
    width: 40%;
  }

  .td-left {
    padding: 0 0 0 30px;
  }

  .td-left2 {
    padding: 0 0 0 60px;
  }


</style>
