<template>
  <div>
    <h1>Alarme</h1>

    <p>&Uuml;ber die Map k&ouml;nnen die Anzahl und Dringlichkeit der Alarme einer jeweiligen Ebene eingesehen werden.
      Erst &uuml;ber die  Card &ldquo;Alarme&rdquo; werden alle Alarme einer Einheit zeitlich sortiert aufgelistet.</p>
    <p>Es gibt drei Dringlichkeitsstufen:</p>

    <ul class="list">
      <li><span class="bold">Critical (rot)</span> &ndash; Ein Problem, welches die Produktion beeinflusst.</li>
      <li><span class="bold">Medium (orange)</span> &ndash; Ein Problem, welches die Produktion beeinflussen wird.</li>
      <li><span class="bold">Low (rot)</span> &ndash; Ein Problem, welches die Produktion beeinflussen k&ouml;nnte.</li>
    </ul>

    <div>
      <img src="../../../assets/design/styleguide/alarms.jpg" alt="Alarme" title="Alarme">
    </div>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
