<template>
  <div>
    <h1>Farbkonzept</h1>

    <p>Ein weiteres Element in der Entwicklung des Erscheinungsbildes, engl. Corporate Design, ist neben der Typografie ein logisches Farbkonzept.
      Die Auswahl bestimmter Farben unterstreicht nicht nur kontrastreich die Anmutung der Applikation, sondern dient bei der vorliegenden
      Arbeit auch zur Differenzierung zwischen graphischer Visualisierung (Diagrammen) und Fehlermeldung sog. Alarmen.</p>

    <h2>Basis</h2>
    <p>Als Basisfarbschema dienen s/w- und Graut&ouml;ne als Grundger&uuml;st in der Farbwelt von Ventus. Hintergr&uuml;nde, Länder und vor allem
    die Typografie der App bedienen sich an dem klassischen Konzept der Farbgestaltung.</p>

    <div>
      <img src="../../../assets/design/styleguide/basic.svg" alt="Basis" title="Basis">
    </div>

    <h2>Produktion</h2>
    <p>Orientiert am Siemens-Styleguide bilden die drei Blau-T&uuml;ris-T&ouml;e gemeinsam mit dem Basisfarbschema das Erscheinungsbild
    der App. Sie finden entweder als linearer Verlauf in Hintergrund der Karte, im Bereich der Action-Buttons oder in der Darstellung
      von Liniendiagrammen Verwendung.</p>

    <div>
      <img src="../../../assets/design/styleguide/production.svg" alt="Produktion" title="Produktion">
    </div>

    <h2>Curtailment</h2>
    <p>Um sich von dem k&uuml;hlen Grundfarbschema zu differenzieren, fungieren warme T&ouml;ne für Curtailmentfaktoren, wie
      Ice Detection, Wake Effect, Noise Reduction oder Load Control als Kontrast.</p>

    <div>
      <img src="../../../assets/design/styleguide/curtailment.svg" alt="Curtailment" title="Curtailment">
    </div>

    <h2>Alarme</h2>
    <p></p>

    <p>Entscheidend ist auch die deutliche Hervorhebung der Alarme in der Anwendung. Hierfür wurden ganz klassisch Warmsignalfarben
    eingesetzt, um die drei verschiedenen Stufen <span class="italic">critical</span>, <span class="italic">medium</span> und
      <span class="italic">low</span> darzustellen.</p>

    <div>
      <img src="../../../assets/design/styleguide/alarms.svg" alt="Alarme" title="Alarme">
    </div>

    <p class="italic">Verfasst von Katrin Riedelbauch</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
