<template>
  <div>
    <h1>Layout</h1>

    <p>Urspr&uuml;nglich stammt der Begriff &bdquo;Typografie&ldquo; aus dem Kunst- und Druckhandwerk. Die einzelnen Letter sog.
      Bleibuchstaben eines Schriftsatzes werden hierbei zu W&ouml;rtern und S&auml;tzen aneinandergereiht.</p>

    <div>
      <img src="../../../assets/design/styleguide/karte.jpg" alt="Buchstaben" title="Buchstaben">
    </div>

    <div>
      <img src="../../../assets/design/styleguide/schnitte.jpg" alt="Schriftfamilie" title="Schriftfamilie">
    </div>

    <p class="italic">Verfasst von Katrin Riedelbauch</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
