<template>
  <div>
    <h1>Layout</h1>

    <div>
      <img src="../../../assets/design/styleguide/karte.jpg" alt="Karte" title="Karte">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/liste.jpg" alt="Liste" title="Liste">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/parks.jpg" alt="Parks" title="Parks">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/feederline.jpg" alt="FeederLine" title="FeederLine">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/action_menu.jpg" alt="Action Men&uuml;" title="Action Men&uuml;">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/turbinen.jpg" alt="Turbine" title="Turbine">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/graphenuebersicht.jpg" alt="Graphen&uuml;bersicht" title="Graphen&uuml;bersicht">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/mobile.jpg" alt="Mobile Rotation" title="Mobile Rotation">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/fullscreen_graphen.jpg" alt="Fullscreen Graphen" title="Fullscreen Graphen">
    </div>
    <div>
      <img src="../../../assets/design/styleguide/alarme.jpg" alt="Alarme" title="Alarme">
    </div>

    <p class="italic">Verfasst von Lukas Fornaro und Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
