<template>
  <div>
    <h1>Ebenen</h1>

    <h2>Icons f&uuml;r Map und Listen</h2>
    <p>Die Parkebene hat den Sonderstatus &ldquo;komplett gesperrt&rdquo; und ist bis zur Wartung nicht mehr ansteuerbar.
      Daher rotes Warn-Icons und ausgegraut.</p>

    <div>
      <img src="../../../assets/design/styleguide/level.jpg" alt="Ebenen" title="Ebenen">
    </div>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
