<template>
  <div>
    <h1>Logo</h1>

    <p>Ein pr&auml;gnantes und einzigartiges Logo mit einem hohen Wiedererkennungwert vervollst&auml;ndigt das visuelle Erscheinungsbild.
      Grundlegend differenziert man zwischen einer Wort- (Schriftzug) und Bildmarke (Symbol).</p>

    <p>Der Tr&auml;ger der Identit&auml;t sollte sich darin widerspiegeln. Entscheidend ist somit nicht nur die m&ouml;gliche Kombination
      aus Schrift und Symbol, sondern auch der eigentliche Wortlaut eines Logos.</p>

    <p>Dieser muss aber nicht zwangsl&auml;ufig auf den ersten Blick wahrnehmbar sein, wie die Deutsche Bank oder Adobe Systems
      beweisen. Voraussetzung hierf&uuml;r ist jedoch ein gewisser Bekanntheitsgrad des Unternehmens in der Gesellschaft.</p>

    <p>F&uuml;r die vorliegende Arbeit wurde eine Wort-Bildmarken-Kombination entwickelt. Das Logo selbst tritt jedoch selten in Erscheinung
    in der Applikation. Es findet sich wieder auf dem Splashscreen der Anwendung.</p>

    <h2>Gr&ouml;&szlig;e und Abstand</h2>
    <p>Der Mindestabstand zu benachbarten Elementen innerhalb eines Layouts betr&auml;gt immer .5x der Breite des Logos.</p>

    <h2>Einsatz</h2>
    <p>Das Ventus-Logo kannn sowohl positiv als auch negativ eingesetzt werden. Es wurde so entwickelt, dass auch die Wortmarke in
    Sonderf&auml;llen allein für sich stehen kann, ohne dabei seine Identität zu verlieren.</p>

    <h2>Farben</h2>
    <p>Grunds&auml;tzlich wird das Logo in 1-color t&uuml;rkis eingesetzt. F&uuml;r s&thinsp;/w-Darstellungen empfielt sich 1-color grey oder die negative Umsetzung.</p>

    <div>
      <img src="../../../assets/design/styleguide/logo.svg" alt="Logo" title="Logo">
    </div>

    <p class="italic">Verfasst von Katrin Riedelbauch</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
