<template>
  <div>
    <h1>Navigation</h1>

    <p>Klassische Navigationselemente, wie &ldquo;close&rdquo; und &ldquo;zur&uuml;ck&rdquo;, um sich durch die App
      zu navigieren. Nennenswert ist jedoch die &ldquo;Nav-Bar&rdquo; als zentrales Element zwischen allen Ebenen.
      Die jeweilige Produktion der Ebene und Leistungen k&ouml;nnen hier schnell erfasst werden.</p>

    <p>Der <a @click="openAction">Action-Button</a> dient auf der jeweiligen Ebene als Schnellzugriff auf die Cards und Graphen.
      Liegt unterhalb der Listenelemente.</p>

    <div>
      <img src="../../../assets/design/styleguide/navigations.jpg" alt="Navigations" title="Navigation">
    </div>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openAction () {
        eventBus.$emit('componentClick', 'app-action')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
