<template>
  <div>
    <h1>Marker</h1>

    <p>Die Piktogramme dienen als eingängig verständliches Zeichen der verschiedenen Ebenen. Jedes Piktogramm ist mit
      drei fest definierten Info-Boxen versehen:</p>
    <ul class="list">
      <li>Name von Fleet, Park, Feederline und Turbine.</li>
      <li>Leistung der jeweiligen Ebene</li>
      <li>Alarmhinweis</li>
    </ul>
    <div class="space"></div>

    <h2>Parks</h2>
    <p>Das Icon zu den Parks beinhaltet den Parknamen und die Leistung. Die Gr&ouml;&szlig;e der Infobox wurde in drei L&auml;ngen
      definiert. Zus&auml;tzliche Funktion des kompletten ParkStops.</p>

    <div>
      <img src="../../../assets/design/styleguide/pins.jpg" alt="Marker" title="Marker">
    </div>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
