<template>
  <div>
    <h1>Typographie</h1>

    <p>Urspr&uuml;nglich stammt der Begriff &bdquo;Typografie&ldquo; aus dem Kunst- und Druckhandwerk. Die einzelnen Letter sog.
      Bleibuchstaben eines Schriftsatzes werden hierbei zu W&ouml;rtern und S&auml;tzen aneinandergereiht.</p>

    <p>Mittlerweile spielt die Typografie eine große Rolle im eigentlichen Gestaltungsprozess. Aussage, Sinn und Erscheinung
      eines Werkes k&ouml;nnen durch Schrift, Bilder, Linien, Flächen und typografischen Raum veranschaulicht werden. Somit unterstreicht
      das Schriftbild visuell den Inhalt des Textes.</p>

    <p>Die Typografie kann jedoch noch so anmutig und abstrakt sein, wenn sie den eigentlichen Sinn verfehlt. Ausschlaggebend
      ist immer noch die Lesbarkeit einer Schrift.</p>

    <p>Vor allem bei der Wahl einer Typografie f&uuml;r ein erfolgreiches und ad&auml;quates Webdesign muss einiges beachtet werden:</p>
    <ul class="list">
      <li>Lesbarkeit im Fließtext</li>
      <li>kontrastreicher Schriftenduktus</li>
      <li>Laufweite der Schrift</li>
      <li>ausreichende Binnenr&auml;ume der Buchstaben</li>
      <li>Antialising der Schrift</li>
    </ul>

    <p>&Uuml;ber die Jahre hat sich eine Vielzahl an onlinekompatiblen Schriften im Internet etabliert. Dienste wie &bdquo;Google-
      Fonts&ldquo; oder &bdquo;Typekit&ldquo; bieten eine gro&szlig;e Auswahl fundierter Schriften an.
      Zus&auml;tzlich erlaubt die CSS3-@font-face-Regel den Einsatz von eingebundenen Schriften in einer Webanwendung.
      Zu beachten ist jedoch, dass nicht jede Schrift der Cross-Browser-Unterst&uuml;tzung unterliegt und somit nur eine
      Fallback-Schrift ausgegeben werden kann.</p>

    <p>F&uuml;r die vorliegende Arbeit findet die Roboto Verwendung.</p>

    <h2>Roboto</h2>
    <p>Die sympathische serifenlose Roboto mit ihren geometrische Formen und offenen Kurven wurde von dem Schriftdesigner Christian Robertson
      entworfen.</p>

    <p>Die Roboto findet in den &Uuml;berschriften und dem Flie&szlig;text Verwendung.</p>

    <div>
      <img src="../../../assets/design/styleguide/roboto.jpg" alt="Buchstaben" title="Buchstaben">
    </div>

    <h2>Schriftfamilie</h2>
    <p>Die Roboto bietet 12 Schrittschnitte von Light zu ganz Black und Kursiv, sowie eine eigene Schrift-familie f&uuml;r Condensed-Schnitte, die Roboto
      Condensed.</p>

    <p>F&uuml;r die &Uuml;berschriften wird der Bold-Schnitt eingesetzt und f&uuml;r den Flie&szlig;text der Regular.</p>

    <div>
      <img src="../../../assets/design/styleguide/schnitte.jpg" alt="Schriftfamilie" title="Schriftfamilie">
    </div>

    <p class="italic">Quelle: <a :href="'https://fonts.google.com/specimen/Roboto'" target="_blank">https://fonts.google.com/specimen/Roboto</a></p>

    <p class="italic">Verfasst von Katrin Riedelbauch</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
