<template>
  <div class="column-1of1 footer">
    <div>
      <p>&copy; Web-Systeme | Masterprojekt &ndash; Produktionssemester | SoSe 2017 | Hochschule Augsburg</p>
    </div>
    <router-link to="/dokumentation/impressum"><aside>Impressum</aside></router-link>
  </div>
</template>

<style scoped>
  .footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #F1F1F1;
    padding: 20px 70px 20px 20px;
    background: #FFF;
  }

  .footer div {
    float: left;
  }

  p, aside {
    font-size: 80%;
    margin: 0;
  }

  a{
    display: inline-block;
    float: right;
    color: #778790;
  }
</style>
