<template>
  <div>
    <h1>Chart.js</h1>

    <p><a :href="link" target="_blank">chart.js</a> ist eine opensource Javascript Library zur Visualisierung von Graphen. Dabei wird auf den HTML Canvas zur&uuml;ckgegriffen. Um die Library problemlos in Vue.js verwenden zu k&ouml;nnen wurde der wrapper vue-chartjs verwendet.</p>
    <p>Zu den gro&szlig;en Vorteilen f&uuml;r Ventus von <a :href="link" target="_blank">chart.js</a> gegen&uuml;ber d3.js ist, dass <a :href="link" target="_blank">chart.js</a> sehr klein ist. Bietet allerdings auch nur acht verschiedene Graphen-Typen, die aber alle von Ventus ben&ouml;tigten Graphen abdecken. Es gibt somit nur einen sehr kleinen Overhead, der wesentlich geringer ist als er gewesen w&auml;re, wenn d3.js verwendet worden w&auml;re. Des weiteren bietet chart.js eine sehr viele Anpassungs-, Konfiguration und Individualisierungsm&ouml;glichkeiten. So wird von Chart.js eigentlich nur noch die verschiedenen Methoden zum Zeichnen der verschiedenen Graphen verwendet. Der Rest ist sind individualisierte Eigenanpassungen auf Basis der Library.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        link: 'http://www.chartjs.org/docs/latest'
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
