<template>
  <div>
    <h1>RadarChart</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Klassisches RadarDiagramm.</p>

    <h2>Beschreibung</h2>
    <p>Stellt die Windrose dar.</p>

    <h2>Komponenten</h2>
    <p>keine</p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">dataCollection</div>
        <div class="td">Object</div>
        <div class="td">Enth&auml;lt die visuellen Informationen des Graphen.</div>
      </div>

        <div class="tr">
          <div class="td italic td-left">labels</div>
          <div class="td">String</div>
          <div class="td">Beschreibung der Datenpunkte.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">datasets</div>
          <div class="td">Number</div>
          <div class="td">Datenpunkte des Graphen.</div>
        </div>

      <div class="tr">
        <div class="td italic">mapOptions</div>
        <div class="td">Object</div>
        <div class="td">Enth&auml;lt alle Einstellungsoptionen f&uuml;r den Graphen.</div>
      </div>
    </div>
    <p>F&uuml;r detaillierte Informationen wie das Object zu bef&uuml;llen ist, siehe <a :href="'http://www.chartjs.org/docs/latest'" target="_blank">www.chart.js.org</a>.</p>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__dataValues</div>
        <div class="td">Object</div>
        <div class="td">Alle darzustellenden Daten bzw. Datenpunkte.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__dataLabels</div>
        <div class="td">String</div>
        <div class="td">Alle Labels zu den Datenpunkten.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Watch</h2>
    <p>Diese Komponente benutzt watched Elemente um auf Ver&auml;nderungen der Properties zu reagieren.</p>

    <div class="table table2">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__dataValues</div>
        <div class="td">Speichert <span class="italic">prop__dataValues</span> in <span class="italic">datacollection.datasets</span> und st&ouml;&szlig;t die Update Methode von
          chart.js an sobald sich <span class="italic">prop__dataValues</span> &auml;ndert.</div>
      </div>
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
