<template>
  <div>
    <h1>Datenhandling</h1>

    <h2>Karte und NavigationBar Komponente</h2>
    <p>F&uuml;r die Datenhaltung, wurde dieNavigationBar Komponente gew&auml;hlt. Die Entscheidung
      daf&uuml;r wurde aufgrund der Tatsache gef&auml;llt, dass jede Information die dargestellt wird auch in
      der NavigationBar Komponente vorkommt. Bei der Karte ist dies nicht de Fall &ndash; sie stellt nur
      einen Teil der Daten dar. Daher wurde sich daf&uuml;r entschieden die NavigationBar
      Komponente als Punkt f&uuml;r die Datenhaltung auszuw&auml;hlen von wo aus die Daten an die
      jeweiligen Darstellungspunkte verteilt werden.</p>

    <p>Die Daten werden immer in der NavigationBar Komponente geladen und von dort aus zur
      Karte und den einzelnen Modulen der Liste verteilt.</p>

    <h2>Detailansicht</h2>
    <p>F&uuml;r die Datenhaltung gibt es zwei Punkte, einmal die Cards Komponente, welche die mit der
      URL &uuml;bergebenen Daten h&auml;lt. Dabei handelt es sich um den Navigationspfad und den
      Namen des zu betrachtenden Parks (etc.). Der andere Punkt f&uuml;r die Datenhaltung ist die
      jeweilige Graph- bzw. AlarmContainer Komponente. Diese halten f&uuml;r sich selbst die von
      ihnen dargestellten Daten und laden diese eigenst&auml;ndig aus der DB. Dies wurde so gew&auml;hlt,
      da die jeweiligen Datens&auml;tze niemals zusammen dargestellt werden bzw. miteinander
      interagieren k&ouml;nnen.</p>

    <h2>Verteilung der Daten</h2>
    <p>Wie bereits geschrieben, ist die Applikation stark Komponentenbasiert aufgebaut, diesem
Aufbau wird sich auch bei der Verteilung der Daten bedient. Die Daten werden immer nur
von Eltern zu Kind Elementen weitergereicht. M&ouml;chte ein Kind, dem Elternelement mitteilen,
dass sich ein Wert &auml;ndern soll, muss dieses ein Event ausl&ouml;sen um das Eltern Element
davon zu informieren.</p>

    <div>
      <img src="../../../assets/technic/frontend/datenhandling.svg" alt="Datenhandling" title="Datenhandling">
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
