<template>
  <div>
    <h1>Aufbau</h1>
    <p>Die Applikation besteht aus zwei Teilen, welche jeweils eine Route bilden:</p>
    <ul class="list">
      <li>Die Karte und die NavigationBar Komponente</li>
      <li>Die Detailansicht der Graphen und Alarme (Cards)</li>
    </ul>

    <p>Die Aufteilung wurde so gew&auml;hlt, da a) die Karte und NavigationBar Komponente eng
      miteinander verkn&uuml;pft sind. Die Cards sind im Gegensatz dazu vom Mockup und der
      Reaktivit&auml;t stark davon losgel&ouml;st und wurden daher in eine eigene Route gelegt. Dies hat
      den Vorteil, dass Interfaceelemente, wie die Karte, welche in der Cardsansicht nicht mehr
      sichtbar sind, dann auch nicht geladen werden m&uuml;ssen und so eine Performancesteigerung
      angestrebt wird.</p>

    <p>Die komplette Applikation ist in einzelne Komponenten zerlegt um a) recyclebare Elemente
      zu schaffen und b) die Datenhaltung zu erleichtern - so kann beispielsweise ein kleines
      Element seinen State (bsp: Men&uuml; offen oder nicht) selber halten und es bedarf nicht eines
      gro&szlig;en StateObjects in welchem alle States gehalten werden. Das machte es von der
      Programmierung f&uuml;r mich wesentlich einfacher.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
