<template>
  <div>
    <h1>Vue.js</h1>

    <p>Das Frontend basiert auf dem Javascript Framework <a :href="link" target="_blank">Vue.js</a>. Die Entscheidung f&uuml;r <a :href="link" target="_blank">Vue.js</a>
      gegen&uuml;ber anderen L&ouml;sungen wie React oder Angular wurde aufgrund folgender Faktoren getroffen:</p>

    <div>
      <img src="../../../assets/technic/frontend/framework_reseach.jpg" alt="Framework Research" title="Frontend Research">
    </div>

    <p>Zus&auml;tzlich zu dem Grundfunktionen von Vue.js wurde das Framework um einige Plugins
      erweitert:</p>

    <h2>VueRouter</h2>
    <p>Ist ebenfalls aus dem gleichen Haus wie Vue.js und ist daher problemlos
      integrierbar und konkurrenzlos. VueRouter &uuml;bernimmt das komplette interne Routing  der Applikation.</p>

    <h2>VueRessource</h2>
    <p>Ist ein unabh&auml;niges Plugin, welches f&uuml;r die WebRequests der Applikation
      &uuml;bernimmt. Die Entscheidung f&uuml;r dieses Plugin gegen&uuml;ber Axios oder anderen L&ouml;sungen wurde aufgrund einer Empfehlung in einem Tutorial getroffen.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        link: 'https://vuejs.org/v2/api'
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
