<template>
  <div class="column-1of1 container">

    <!-- Column Left START -->
    <section class="column-1of2">
      <ul>
        <!-- Styling START -->
        <li>
          <h1>1. Styleguide</h1>
          <ul>
            <li class="left"><a @click="activeComponent = 'app-typo'">Typografie</a></li>
            <li class="left"><a @click="activeComponent = 'app-color'">Farbkonzept</a></li>
            <li class="left"><a @click="activeComponent = 'app-logo'">Logo</a></li>
            <li class="left"><a @click="activeComponent = 'app-icons'">Icons</a>
              <ul>
                <li class="left"><a @click="activeComponent = 'app-level'">Ebenen</a></li>
                <li class="left"><a @click="activeComponent = 'app-pins'">Marker</a></li>
                <li class="left"><a @click="activeComponent = 'app-alarms'">Alarme</a></li>
                <li class="left"><a @click="activeComponent = 'app-navigations'">Navigations</a></li>
              </ul>
            </li>
            <li class="left border"><a @click="activeComponent = 'app-layout'">Layout</a></li>
          </ul>
        </li>
        <!-- Styling END -->

        <!-- Styling START -->
        <li class="space2">
          <h1>2. Komponenten</h1>
          <ul>
            <li class="left"><a @click="activeComponent = 'app-navigationstructure'">Navigationsstruktur</a></li>
            <li class="left"><a @click="activeComponent = 'app-map'">Map</a></li>
            <li class="left"><a @click="activeComponent = 'app-navigationbar'">NavigationsBar</a></li>
            <li class="left"><a @click="activeComponent = 'app-listelement'">Listenelement</a></li>
            <li class="left"><a @click="activeComponent = 'app-action'">Action-Button</a></li>
            <li class="left border"><a @click="activeComponent = 'app-cards'">Cards</a></li>
          </ul>
        </li>
        <!-- Styling END -->

        <!-- Styling START -->
        <li class="space2">
          <h1>3. Styling</h1>
          <ul>
            <li class="left"><a @click="activeComponent = 'app-sass'">SASS</a></li>
            <li><a @click="activeComponent = 'app-grid'">Grid-Framework</a></li>
            <li class="left border"><a @click="activeComponent = 'app-css'">CSS Coding Guidelines</a></li>
          </ul>
        </li>
        <!-- Styling END -->

      </ul>
    </section>
    <!-- Column Left END -->

    <!-- Column Right START -->
    <section class="column-2of2">
      <component :is="activeComponent"></component>
    </section>
    <!-- Column Right END -->
  </div>
</template>

<script>
  import { eventBus } from '../../main.js'

  import Typography from './styleguide/Typography.vue'
  import Color from './styleguide/Color.vue'
  import Logo from './styleguide/Logo.vue'
  import Icons from './styleguide/Icons.vue'
  import Level from './styleguide/Level.vue'
  import Pins from './styleguide/Pins.vue'
  import Alarms from './styleguide/Alarms.vue'
  import Navigations from './styleguide/Navigations.vue'
  import Layout from './styleguide/Layout.vue'

  import NavigationStructure from './components/NavigationStructure.vue'
  import Map from './components/Map.vue'
  import NavigationBar from './components/NavigationBar.vue'
  import ListElement from './components/ListElement.vue'
  import Action from './components/Action.vue'
  import Cards from './components/Cards.vue'

  import SASS from './sass/SASS.vue'
  import GridFramework from './sass/GridFramework.vue'
  import CSSCodingGuidelines from './sass/CSSCodingGuidelines.vue'

  export default {
    data: function () {
      return {
        activeComponent: 'app-typo'
      }
    },

    components: {
      'app-typo': Typography,
      'app-color': Color,
      'app-logo': Logo,
      'app-icons': Icons,
      'app-level': Level,
      'app-pins': Pins,
      'app-alarms': Alarms,
      'app-navigations': Navigations,
      'app-layout': Layout,
      'app-navigationstructure': NavigationStructure,
      'app-map': Map,
      'app-navigationbar': NavigationBar,
      'app-listelement': ListElement,
      'app-action': Action,
      'app-cards': Cards,
      'app-sass': SASS,
      'app-grid': GridFramework,
      'app-css': CSSCodingGuidelines
    },
    created () {
      eventBus.$on('componentClick', (data) => {
        this.activeComponent = data
      })
    }
  }

</script>

<style scoped>
  h1 {
    padding: 0;
    color: #2B2B2B;
    font-size: 105%;
  }

  h2 {
    color: #2B2B2B;
    font-size: 105%;
  }

  li {
    font-weight: normal;
    padding: 0 0 0 23px
  }

  ul li ul li {
    font-size: 85%;
    list-style-type: none;
  }

  li a{
    color: #778790 !important;
    display: block;
    padding: 10px 0;
    cursor: pointer;
  }

  li a:hover {
    text-decoration: none;
    font-weight: 700;
  }

  .active {
    font-weight: 700;
  }

  .left {
    margin: 0 0 0 23px;
    padding: 0;
  }

  .container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
  }

  .column-1of2 {
    position:absolute;
    top: 100px;
    bottom: 75px;
    left: 0;
    min-width: 350px;
    width: 25%;
    height:auto;
    display: block;
    border-right: 1px solid #778790;
    padding: 20px 20px 20px 0;
    /*background: rgba(255, 0, 0, 0.5);*/
    overflow-y: auto;
  }

  .column-2of2 {
    position:absolute;
    top: 100px;
    right: 0;
    bottom: 75px;
    width: 75%;
    max-width: calc(100% - 350px);
    height:auto;
    display: block;
    padding: 20px 70px;
    /*background: rgba(0, 255, 255, 0.5);*/
    overflow-y: auto;
  }

  .column-1of2::-webkit-scrollbar,
  .column-2of2::-webkit-scrollbar{
    display: none;
  }
</style>
