<template>
  <div class="column-1of1 container">

    <!-- Column Left START -->
    <section class="column-1of2">
      <ul>

        <!-- Frontend START -->
        <li>
          <h1>1. Frontend</h1>
          <ul>
            <li class="left"><a @click="activeComponent = 'app-vue'">Vue.js</a>
              <ul>
                <li><a @click="activeComponent = 'app-structure'">Aufbau</a></li>
                <li class="border"><a @click="activeComponent = 'app-datahandling'">Datenhandling</a></li>
              </ul>
            </li>

            <li>
              <a @click="activeComponent = 'app-mainview'">Mainview</a>
              <ul>
                <li><a @click="activeComponent = 'app-navigationbar'">NavigationBar</a></li>
                <li><a @click="activeComponent = 'app-navigationtopbar'">NavigationTopBar</a></li>
                <li><a @click="activeComponent = 'app-fleetlist'">FleetList</a></li>
                <li class="border"><a @click="activeComponent = 'app-fleetlistitem'">FleetListItem</a></li>
              </ul>
            </li>

            <li class="left">
              <a @click="activeComponent = 'app-leaflet'">Leaflet.js</a>
              <ul>
                <li class="border"><a @click="activeComponent = 'app-map'">Map</a></li>
              </ul>
            </li>

            <li>
              <a @click="activeComponent = 'app-cards'">Cards</a>
              <ul>
                <li><a @click="activeComponent = 'app-container'">Container</a></li>
                <li><a @click="activeComponent = 'app-containerheadline'">ContainerHeadline</a></li>
                <li><a @click="activeComponent = 'app-alarmcontainer'">AlarmContainer</a></li>
                <li><a @click="activeComponent = 'app-graphcontainer'">GraphContainer</a></li>
                <li class="border"><a @click="activeComponent = 'app-modal'">Modal</a></li>
              </ul>
            </li>

            <li>
              <a @click="activeComponent = 'app-charts'">Chart.js</a>
              <ul>
                <li><a @click="activeComponent = 'app-barchart'">BarChart</a></li>
                <li><a @click="activeComponent = 'app-linechart'">LineChart</a></li>
                <li class="border"><a @click="activeComponent = 'app-radarchart'">RadarChart</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- Frontend END -->

        <!-- Backend START -->
        <li class="space2">
          <h1>2. Backend</h1>
          <ul>
            <li class="left border"><a @click="activeComponent = 'app-serverarchitecture'">Server Architektur</a></li>

            <li class="left"><a @click="activeComponent = 'app-restapi'">Rest API</a>
              <ul>
                <li><a @click="activeComponent = 'app-node'">Node.js</a></li>
                <li><a @click="activeComponent = 'app-restify'">Restify</a></li>
                <li class="border"><a @click="activeComponent = 'app-async'">Async</a></li>
              </ul>
            </li>

            <li class="left"><a @click="activeComponent = 'app-mongodb'">MongoDB</a>
              <ul>
                <li><a @click="activeComponent = 'app-fleet'">Fleet</a></li>
                <li><a @click="activeComponent = 'app-site'">Site</a></li>
                <li><a @click="activeComponent = 'app-park'">Park</a></li>
                <li><a @click="activeComponent = 'app-feederline'">FeederLine</a></li>
                <li><a @click="activeComponent = 'app-turbine'">Turbine</a></li>
                <li><a @click="activeComponent = 'app-alarm'">Alarm</a></li>
                <li><a @click="activeComponent = 'app-data'">Data</a></li>
                <li><a @click="activeComponent = 'app-aggregateddata'">_AggregatedData</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- Backend END -->

      </ul>
    </section>
    <!-- Column Left END -->

    <!-- Column Right START -->
    <section class="column-2of2">
      <component :is="activeComponent"></component>
    </section>
    <!-- Column Right END -->
  </div>
</template>

<script>
  import { eventBus } from '../../main.js'

  import Vue from './vue/Vue.vue'
  import Structure from './vue/Structure.vue'
  import Datahandling from './vue/Datahandling.vue'

  import Mainview from './mainview/Mainview.vue'
  import NavigationBar from './mainview/NavigationBar.vue'
  import NavigationTopBar from './mainview/NavigationTopBar.vue'
  import FleetList from './mainview/FleetList.vue'
  import FleetListItem from './mainview/FleetListItem.vue'

  import Leaflet from './leaflet/Leaflet.vue'
  import Map from './leaflet/Map.vue'

  import Cards from './cards/Cards.vue'
  import Container from './cards/Container.vue'
  import ContainerHeadline from './cards/ContainerHeadline.vue'
  import AlarmContainer from './cards/AlarmContainer.vue'
  import GraphContainer from './cards/GraphContainer.vue'
  import Modal from './cards/Modal.vue'

  import Charts from './charts/Charts.vue'
  import BarChart from './charts/BarChart.vue'
  import LineChart from './charts/LineChart.vue'
  import RadarChart from './charts/RadarChart.vue'

  import ServerArchitecture from './serverarchitecture/ServerArchitecture.vue'

  import RestAPI from './restapi/RestAPI.vue'
  import Node from './restapi/Node.vue'
  import Restify from './restapi/Restify.vue'
  import Async from './restapi/Async.vue'

  import MongoDB from './mongo/Mongo.vue'
  import Fleet from './mongo/Fleet.vue'
  import Site from './mongo/Site.vue'
  import Park from './mongo/Park.vue'
  import FeederLine from './mongo/FeederLine.vue'
  import Turbine from './mongo/Turbine.vue'
  import Alarm from './mongo/Alarm.vue'
  import Data from './mongo/Data.vue'
  import AggregatedData from './mongo/AggregatedData.vue'

  export default {
    data: function () {
      return {
        activeComponent: 'app-vue'
      }
    },

    components: {
      'app-vue': Vue,
      'app-structure': Structure,
      'app-datahandling': Datahandling,
      'app-mainview': Mainview,
      'app-navigationbar': NavigationBar,
      'app-navigationtopbar': NavigationTopBar,
      'app-fleetlist': FleetList,
      'app-fleetlistitem': FleetListItem,
      'app-leaflet': Leaflet,
      'app-map': Map,
      'app-cards': Cards,
      'app-container': Container,
      'app-containerheadline': ContainerHeadline,
      'app-alarmcontainer': AlarmContainer,
      'app-graphcontainer': GraphContainer,
      'app-modal': Modal,
      'app-charts': Charts,
      'app-barchart': BarChart,
      'app-linechart': LineChart,
      'app-radarchart': RadarChart,
      'app-serverarchitecture': ServerArchitecture,
      'app-restapi': RestAPI,
      'app-node': Node,
      'app-restify': Restify,
      'app-async': Async,
      'app-mongodb': MongoDB,
      'app-fleet': Fleet,
      'app-site': Site,
      'app-park': Park,
      'app-feederline': FeederLine,
      'app-turbine': Turbine,
      'app-alarm': Alarm,
      'app-data': Data,
      'app-aggregateddata': AggregatedData
    },
    created () {
      eventBus.$on('componentClick', (data) => {
        this.activeComponent = data
      })
    }
  }

</script>

<style scoped>
  h1 {
    padding: 0;
    color: #2B2B2B;
    font-size: 105%;
  }

  h2 {
    color: #2B2B2B;
    font-size: 105%;
  }

  li {
    font-weight: normal;
    padding: 0 0 0 23px
  }

  ul li ul li {
    font-size: 85%;
    list-style-type: none;
  }

  li a{
    color: #778790 !important;
    display: block;
    padding: 10px 0;
    cursor: pointer;
  }

  li a:hover {
    text-decoration: none;
    font-weight: 700;
  }

  .active {
    font-weight: 700;
  }

  .left {
    margin: 0 0 0 23px;
    padding: 0;
  }

  .container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
  }

  .column-1of2 {
    position:absolute;
    top: 100px;
    bottom: 75px;
    left: 0;
    min-width: 350px;
    width: 25%;
    height:auto;
    display: block;
    border-right: 1px solid #778790;
    padding: 20px 20px 20px 0;
    /*background: rgba(255, 0, 0, 0.5);*/
    overflow-y: auto;
  }

  .column-2of2 {
    position:absolute;
    top: 100px;
    right: 0;
    bottom: 75px;
    width: 75%;
    max-width: calc(100% - 350px);
    height:auto;
    display: block;
    padding: 20px 70px;
    /*background: rgba(0, 255, 255, 0.5);*/
    overflow-y: auto;
  }

  .column-1of2::-webkit-scrollbar,
  .column-2of2::-webkit-scrollbar{
    display: none;
  }
</style>

