<template>
  <div>
    <section class="column-1of1 slider-bg">
      <div class="slider-text">
        <p class="h2">Siemens Wind Power</p>
        <p class="h1">Ventus</p>
      </div>
    </section>

    <section class="column-1of1">
      <section class="column-1of3">
        <router-link to="/dokumentation/design">
          <div class="design-icon"></div>
          <h2>1. Design</h2>
          <p>Ein Styleguide zu den Designkomponenten der App &ndash; Layout, Grid, SASS und CSS.</p>
        </router-link>
      </section>
      <section class="column-2of3">
        <router-link to="/dokumentation/technik">
          <div class="technic-icon"></div>
          <h2>2. Technik</h2>
          <p>Eine umfassende Einsicht in die Architektur der Datenbank und den Frontend Komponenten &ndash; alles was in der App Ventus Verwendung findet.</p>
        </router-link>
      </section>
      <section class="column-3of3">
        <router-link to="/dokumentation/content">
          <div class="content-icon"></div>
          <h2>3. Content</h2>
          <p>Erstellung und Berechnung der Daten von Ventus &ndash; beruhend auf externen Wetterdaten.</p>
        </router-link>
      </section>
    </section>
  </div>
</template>

<style scoped>
  .slider-bg {
    position: relative;
    background: url("../assets/titel.jpg") center bottom / cover no-repeat;
    display: block;
    height: 400px;
  }

  .slider-text {
    position: absolute;
    right: 70px;
    bottom: 20px;
    left: 40px;
  }

  .h1 {
    font-weight: 700;
    font-size: 62px;
    color: #2B2B2B;
    margin: -20px 0 0 0;
  }

  .h2 {
    font-size: 32px;
    color: #FFF;
  }

  h2 {
    font-weight: 700;
  }

  p {
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  h2, a,
  .column-1of3 p,
  .column-2of3 p,
  .column-3of3 p {
    text-underline: none !important;
    color: #778790 !important;
  }

  .column-1of3,
  .column-2of3,
  .column-3of3 {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 40px;
  }

  .column-1of3 div,
  .column-2of3 div,
  .column-3of3 div {
    width: 120px;
    height: 100px;
    margin: 0 auto 20px auto;
  }

  .design-icon {
    background: url("data:image/svg+xml,%3Csvg width='114' height='88' viewBox='0 0 114 88' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eresponsive-design-symbol%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cuse xlink:href='%23a' transform='translate(44.3 77.74)' fill='%23778790'/%3E%3Cuse xlink:href='%23b' transform='translate(14.13)' fill='%23778790'/%3E%3Cuse xlink:href='%23c' transform='translate(0 27.6)' fill='%23778790'/%3E%3Cdefs%3E%3Cpath id='a' d='M43.23 4.69H30.806c-.45 0-.815-.37-.815-.82V.82c0-.45-.367-.82-.815-.82H11.787c-.448 0-.815.37-.815.82v3.05c0 .45-.367.82-.815.82H.815c-.448 0-.815.37-.815.82v3.526c0 .452.367.82.815.82H43.23c.45 0 .815-.368.815-.82V5.51c0-.45-.366-.82-.814-.82z'/%3E%3Cpath id='b' d='M94.27 0H5.6C2.514 0 .005 2.53.005 5.638v14.706c0 1.944-.143 2.22 1.15 2.22h2.22c1.087 0 .864-.276.864-2.256V5.638c0-.743.622-1.37 1.36-1.37h88.67c.738 0 1.36.627 1.36 1.37v55.044H32.415s-2.228-.004-2.228 2.898v6.886c0 2.898 2.3 2.898 2.3 2.898H94.27c3.086 0 5.596-2.528 5.596-5.637V5.637C99.866 2.53 97.356 0 94.27 0zM49.937 68.496c-1.394 0-2.522-1.137-2.522-2.54 0-1.402 1.128-2.54 2.522-2.54 1.39 0 2.52 1.138 2.52 2.54 0 1.403-1.13 2.54-2.52 2.54z'/%3E%3Cpath id='c' d='M35.688 0H3.61C1.62 0 0 1.632 0 3.64V56.76c0 2.007 1.62 3.64 3.61 3.64H35.69c1.99 0 3.61-1.633 3.61-3.64l.002-53.123C39.3 1.63 37.68 0 35.69 0zM15.693 3.71h7.913c.378 0 .685.31.685.69 0 .382-.306.69-.684.69h-7.913c-.378 0-.684-.308-.684-.69 0-.38.305-.69.683-.69zm3.91 54.136c-1.034 0-1.87-.843-1.87-1.883s.837-1.884 1.87-1.884c1.03 0 1.868.842 1.868 1.883 0 1.04-.836 1.883-1.868 1.883zm16.594-5.535c0 .487-.386.884-.857.884H3.96c-.47 0-.857-.397-.857-.883V8.168c0-.485.386-.882.857-.882h31.38c.47 0 .857.397.857.882V52.31z'/%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
  }

  .technic-icon {
    background: url("data:image/svg+xml,%3Csvg width='112' height='84' viewBox='0 0 112 84' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecode%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cuse xlink:href='%23a' transform='translate(40.73)' fill='%23778790'/%3E%3Cuse xlink:href='%23b' transform='translate(0 11.472)' fill='%23778790'/%3E%3Cuse xlink:href='%23c' transform='translate(76.38 11.472)' fill='%23778790'/%3E%3Cdefs%3E%3Cpath id='a' d='M29.105 1.133L25.31.093c-.49-.163-.97-.112-1.44.153-.468.265-.785.663-.948 1.193L.092 80.42c-.162.53-.11 1.03.154 1.498.265.47.663.785 1.194.948l3.794 1.04c.49.164.97.113 1.44-.152.468-.267.785-.663.947-1.193L30.45 3.58c.164-.53.113-1.03-.153-1.5-.265-.468-.662-.784-1.192-.947z'/%3E%3Cpath id='b' d='M35.62 5.078c0-.53-.203-1-.61-1.407L31.946.613C31.54.204 31.07 0 30.54 0c-.53 0-1 .205-1.407.612L.613 29.12c-.41.408-.613.877-.613 1.407s.204 1 .612 1.407l28.52 28.508c.408.41.877.612 1.408.612.53 0 1-.204 1.408-.612l3.06-3.057c.408-.407.612-.877.612-1.408 0-.53-.204-.998-.612-1.406L10.956 30.528 35.008 6.485c.41-.407.613-.877.613-1.407z'/%3E%3Cpath id='c' d='M35.007 29.12L6.487.612C6.076.205 5.606 0 5.078 0c-.532 0-1 .205-1.41.612L.61 3.672C.204 4.078 0 4.546 0 5.077c0 .53.203 1 .61 1.407l24.054 24.043L.61 54.572c-.407.407-.61.877-.61 1.406 0 .53.203 1 .61 1.408l3.06 3.057c.41.41.878.612 1.41.612.528 0 .998-.204 1.406-.612l28.52-28.508c.408-.407.612-.877.612-1.408 0-.53-.204-1-.61-1.407z'/%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
  }

  .content-icon {
    background: url("data:image/svg+xml,%3Csvg width='91' height='89' viewBox='0 0 91 89' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cuse xlink:href='%23a' transform='translate(23.09 42.887)' fill='%23778790'/%3E%3Cuse xlink:href='%23b' transform='translate(0 55)' fill='%23778790'/%3E%3Cuse xlink:href='%23c' transform='translate(45.8 29.21)' fill='%23778790'/%3E%3Cuse xlink:href='%23d' transform='translate(62.47)' fill='%23778790'/%3E%3Cdefs%3E%3Cpath id='a' d='M15.657 5.143C15.657 2.303 13.35 0 10.505 0H5.152C2.306 0 0 2.303 0 5.143V40.97c0 2.84 2.306 5.143 5.152 5.143h5.353c2.846 0 5.152-2.302 5.152-5.143V5.143z'/%3E%3Cpath id='b' d='M15.657 5.534C15.657 2.478 13.175 0 10.114 0h-4.57C2.48 0 0 2.478 0 5.534v22.93C0 31.522 2.482 34 5.543 34h4.57c3.062 0 5.544-2.48 5.544-5.535V5.535z'/%3E%3Cpath id='c' d='M15.657 5.143C15.657 2.303 13.35 0 10.505 0H5.152C2.306 0 0 2.303 0 5.143v49.505c0 2.84 2.306 5.143 5.152 5.143h5.353c2.846 0 5.152-2.3 5.152-5.142V5.143z'/%3E%3Cpath id='d' d='M27.693 14.61L17.65 1.748C16.783.638 15.55 0 14.267 0s-2.516.637-3.383 1.748L.84 14.61c-.86 1.103-1.072 2.314-.58 3.322.54 1.1 1.83 1.755 3.45 1.755l2.708.007v64.31c0 2.835 2.314 4.996 5.154 4.996h5.39c2.84 0 5.113-2.16 5.113-4.997V19.65l2.723.037c1.626 0 2.927-.656 3.465-1.755.493-1.008.29-2.22-.57-3.322z'/%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
  }

</style>

