<template>
  <div class="header-logo">
    <router-link to="/dokumentation">
      <div class="logo">
        <h1>Ventus Dokumentation</h1>
      </div>
    </router-link>
  </div>
</template>

<style>
  .header-logo {
    float: left;
  }

  .logo {
    width: auto;
    height: 42px;
    background: url("data:image/svg+xml,%3Csvg width='25' height='42' viewBox='0 0 25 42' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elogo%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cuse xlink:href='%23a' fill='%23FFF'/%3E%3Cuse xlink:href='%23b' transform='translate(13.62 19.94)' fill='%23FFF'/%3E%3Cg%3E%3Cuse xlink:href='%23c' transform='translate(13.62 19.94)' fill='%23FFF'/%3E%3C/g%3E%3Cdefs%3E%3Cpath id='a' d='M24.365 25.083l-5.37-10.593 4.202-11.463c.623-1.186.7-2.293-.467-2.846-1.167-.552-1.867.238-2.412 1.345L13.78 11.802 2.183 13.857c-1.245.08-2.257.475-2.18 1.74.08 1.264 1.17 1.66 2.414 1.58l11.752.475 7.47 9.25c.7 1.106 1.635 1.738 2.647 1.027 1.09-.792.778-1.82.078-2.847z'/%3E%3Cpath id='b' d='M.467 0L0 20.79c0 .712.39 1.266.856 1.266h3.19c.468 0 .857-.633.857-1.344L4.358 4.664.468 0z'/%3E%3Cpath id='c' d='M0 20.79c0 .712.39 1.266.856 1.266h3.19c.468 0 .857-.633.857-1.344L4.358 4.664.545 0 0 20.79z'/%3E%3C/defs%3E%3C/svg%3E") no-repeat;
  }

  .logo h1 {
    color: #FFF;
  }

  h1 {
    line-height: 42px;
    vertical-align: middle;
    padding: 0 0 0 50px;
  }
</style>

