<template>
  <nav>
    <ul>
      <router-link to="/dokumentation/design" tag="li" active-class="active"><a>Design</a></router-link>
      <router-link to="/dokumentation/technik" tag="li" active-class="active"><a>Technik</a></router-link>
      <router-link to="/dokumentation/content" tag="li" active-class="active"><a>Content</a></router-link>
    </ul>
  </nav>
</template>

<style scoped>
  nav {
    float: right;
    line-height: 42px;
    vertical-align: middle;
    font-weight: 700;
  }

  li {
    display: inline-block;
    padding: 0 0 0 50px;
  }

  a {
    color: #FFF !important;
    text-decoration: none;
  }

  .active, a:hover {
    text-decoration: underline;
    color: #FFF;
  }
</style>
