<template>
  <div class="column-1of1 header-bg">
    <app-logo></app-logo>
    <app-navi></app-navi>
  </div>
</template>

<script>
  import Logo from './HeaderLogo.vue'
  import Navi from './HeaderNavi.vue'

  export default {
    components: {
      'app-logo': Logo,
      'app-navi': Navi
    }
  }
</script>

<style scoped>
  .column-1of1 {
    width: 100%;
  }

  .header-bg {
    position: relative;
    padding: 20px 70px 20px 20px;
    background: linear-gradient(to right, #2387aa 0%,#005578 100%);
    z-index: 9999;
    height: 80px;
  }

  h1, ul {
    color: #FFF;
  }
</style>
