<template>
  <div class="column-1of1 container">

    <!-- Column Left START -->
    <section class="column-1of2">
      <ul>
        <!-- Content START -->
        <li>
          <h1>1. Daten</h1>
          <ul>
            <li class="left"><a @click="activeComponent = 'app-description'">Einleitung</a></li>
            <li class="left"><a @click="activeComponent = 'app-databuilding'">Datenerstellung</a></li>
          </ul>
        </li>
        <!-- Content END -->

      </ul>
    </section>
    <!-- Column Left END -->

    <!-- Column Right START -->
    <section class="column-2of2">
      <component :is="activeComponent"></component>
    </section>
    <!-- Column Right END -->
  </div>
</template>

<script>
  import Description from './Description.vue'
  import DataBuilding from './DataBuilding.vue'

  export default {
    data: function () {
      return {
        activeComponent: 'app-description'
      }
    },

    components: {
      'app-description': Description,
      'app-databuilding': DataBuilding
    }
  }

</script>

<style scoped>
  h1 {
    padding: 0;
    color: #2B2B2B;
    font-size: 105%;
  }

  h2 {
    color: #2B2B2B;
    font-size: 105%;
  }

  li {
    font-weight: normal;
    padding: 0 0 0 23px
  }

  ul li ul li {
    font-size: 85%;
    list-style-type: none;
  }

  li a{
    color: #778790 !important;
    display: block;
    padding: 10px 0;
    cursor: pointer;
  }

  li a:hover {
    text-decoration: none;
    font-weight: 700;
  }

  .active {
    font-weight: 700;
  }

  .left {
    margin: 0 0 0 23px;
    padding: 0;
  }

  .container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
  }

  .column-1of2 {
    position:absolute;
    top: 100px;
    bottom: 75px;
    left: 0;
    min-width: 350px;
    width: 25%;
    height:auto;
    display: block;
    border-right: 1px solid #778790;
    padding: 20px 20px 20px 0;
    /*background: rgba(255, 0, 0, 0.5);*/
    overflow-y: auto;
  }

  .column-2of2 {
    position:absolute;
    top: 100px;
    right: 0;
    bottom: 75px;
    width: 75%;
    max-width: calc(100% - 350px);
    height:auto;
    display: block;
    padding: 20px 70px;
    /*background: rgba(0, 255, 255, 0.5);*/
    overflow-y: auto;
  }

  .column-1of2::-webkit-scrollbar,
  .column-2of2::-webkit-scrollbar{
    display: none;
  }
</style>
