<template>
  <div>
    <h1>Datenerstellung</h1>

    <h2>Windkraftanlagen-Struktur</h2>

    <p>Die Rahmendaten der verschiedenen Struktur-Elemente (Fleet, Site, Park, FeederLine,
      Turbine) sind weitestgehend frei gew&auml;hlt. Die Platzierung anhand von Breitengrad (lat) und
      L&auml;ngengrad (long) folgt allerdings einem bestimmten System. Zun&auml;chst wurde f&uuml;r jede
      Turbine eine bestimmte Position festgelegt. Dies geschah unter Ber&uuml;cksichtigung der
      jeweiligen Sites, Parks und FeederLines. Anschlie&szlig;end wurden die Positionen der anderen
      Ebenen berechnet. Die jeweilige Position entstand aus dem Durchschnitt der zugeh&ouml;rigen
      Turbinen-Positionen.</p>

    <p>Die folgende Grafik zeigt die Abst&auml;nde (in lat und long) die zwischen Turbinen und FeederLines verwendet wurden:</p>

    <div>
      <img src="../../assets/content/datahandling/skizze-feederlines.png" alt="FeederLine" title="FeederLine">
    </div>
    <div class="space"></div>


    <h2>Alarme</h2>
    <p>F&uuml;r jede frei erstellte Turbine wurde eine bestimmte Anzahl von Alarmen erstellt:</p>

    <ul class="list">
      <li>Typ <span class="italic">critical</span>: zwischen 0 und 3 Alarmen</li>
      <li>Typ <span class="italic">medium</span>: zwischen 0 und 8 Alarmen</li>
      <li>Typ <span class="italic">low</span>: zwischen 0 und 50 Alarmen</li>
    </ul>

    <p>F&uuml;r die 90 Siemens-Turbinen wurden lediglich Alarme erstellt, die aus den bereitgestellten
      Datens&auml;tzen hervorgingen.</p>
    <div class="space"></div>


    <h2>Messdaten</h2>
    <p>Die Grundlage f&uuml;r die selbst erstellten Messdaten bieten Wettterdaten aus der verwendeten
      Online-Wetterdatenbank. Es wurden sowohl Windrichtung/-geschwindigkeit und Temperatur
      als auch der Zeitstempel &uuml;bernommen. Anhand der Windgeschwindigkeit wurde zun&auml;chst
      die potentielle Production (potProduction) berechnet.</p>

    <p>Grunds&auml;tzlich kann die Produktion einer Windturbine mit folgender Formel berechnet
      werden:</p>

    <ul class="list">
      <li>Power = C&rho; 1/2 &rho; A V&sup3;</li>
      <li>Cρ = Maximum power coefficient</li>
      <li>&rho; = Air density</li>
      <li>A = &pi; r&sup2; = Rotor swept area, r = Turbine radius</li>
      <li>V = Wind speed</li>
    </ul>

    <p class="italic">Quelle: <a :href="'http://www.windpowerengineering.com/construction/calculate-wind-power-output'" target="_blank">http://www.windpowerengineering.com/construction/calculate-wind-power-output</a></p>

    <p>Der Koeffizient C&rho; gibt an, wie effektiv eine Turbine Wind in Energie umsetzen kann. Dieser
      Wert bewegt sich zwischen 0.25 und 0.45 und h&auml;ngt von dem Turbinenmodel ab. F&uuml;r die
      Berechnungen wurde ein Wert von 0.4 verwendet. Die Drehfl&auml;che des Rotors wurde auf
      13273.23 gesetzt, was den Ma&szlig;en der <a :href="'https://www.siemens.com/global/en/home/markets/wind/turbines-and-services/swt-4-0-130.html'" target="_blank">Siemens Offshore Turbine</a> &bdquo;SWT-4.0-130&ldquo; entspricht. Da die
      Wetterdatenbank keine Daten &uuml;ber Luftdichte enth&auml;lt wurde hier mit einem Wert von 1.23
      gerechnet.</p>

    <p>Hierbei sind noch folgende Werte zu beachten:</p>

    <ul class="list">
      <li>Cut-in speed (~3m/s)</li>
      <li>Rated output speed (~14m/s)</li>
      <li>Cut-out speed (~25m/s)</li>
    </ul>

    <p>Dabei entspricht <a :href="'http://www.wind-power-program.com/turbine_characteristics.htm'" target="_blank">cut-in speed</a> der Geschwindigkeit, ab der das Windrad erstmals Strom
      produziert, <a :href="'http://www.wind-power-program.com/turbine_characteristics.htm'" target="_blank">cut-out speed</a> hingegen ist die kritische Obergrenze, ab der das Windrad mit
      dem Curtailment-Faktor <span class="italic">load control</span> abgestellt wird, um m&ouml;gliche Besch&auml;digungen zu
      vermeiden. Der mittlere Wert <a :href="'http://www.wind-power-program.com/turbine_characteristics.htm'" target="_blank">rated output speed</a> ist der Punkt, ab dem die Turbine optimal produziert und sich die Produktion
      nicht mehr nennenswert steigern l&auml;sst.</p>

    <p>Anschlie&szlig;end wurde bestimmt, ob die Produktion zum festgelegten Zeitpunkt durch
      Curtailment beieintr&auml;chtigt wurde. Dabei wurde mit folgenden Faktor gerechnet:</p>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Noise reduction</div>
        <div class="td"></div>
      </div>
      <div class="tr">
        <div class="td">Auftreten</div>
        <div class="td">Ger&auml;uschreduktion bei Betreten der Turbine (z.B. bei Wartungen).</div>
      </div>
      <div class="tr">
        <div class="td">Drosselung</div>
        <div class="td">100%</div>
      </div>
      <div class="tr">
        <div class="td">Intervall</div>
        <div class="td">10 - 19 Messwerte => 30 - 57 Stunden</div>
      </div>
      <div class="tr">
        <div class="td">H&auml;ufigkeit</div>
        <div class="td">Alle 129 - 183 Tage</div>
      </div>
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Ice detection</div>
        <div class="td"></div>
      </div>
      <div class="tr">
        <div class="td">Auftreten</div>
        <div class="td">Anhaltende K&auml;lteperioden (&gt; 8 Messwerte =&gt; 1 Tag), Temperaturen unter 0&deg;C.</div>
      </div>
      <div class="tr">
        <div class="td">Drosselung</div>
        <div class="td">100%</div>
      </div>
      <div class="tr">
        <div class="td">Intervall</div>
        <div class="td">Bis die Temperatur auf mind. 0&deg;C steigt.</div>
      </div>
      <div class="tr">
        <div class="td">H&auml;ufigkeit</div>
        <div class="td">Wetterbedingt</div>
      </div>
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Load control</div>
        <div class="td"></div>
      </div>
      <div class="tr">
        <div class="td">Auftreten</div>
        <div class="td">Windgeschwindigkeiten über der <span class="italic">cut-out speed</span> (25 m/s).</div>
      </div>
      <div class="tr">
        <div class="td">Drosselung</div>
        <div class="td">100%</div>
      </div>
      <div class="tr">
        <div class="td">Intervall</div>
        <div class="td">W&auml;hrend der hohen Windgeschwindigkeiten.</div>
      </div>
      <div class="tr">
        <div class="td">H&auml;ufigkeit</div>
        <div class="td">Wetterbedingt</div>
      </div>
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Wildlife detection</div>
        <div class="td"></div>
      </div>
      <div class="tr">
        <div class="td">Auftreten</div>
        <div class="td">Kollision mit V&ouml;geln oder Flederm&auml;usen.</div>
      </div>
      <div class="tr">
        <div class="td">Drosselung</div>
        <div class="td">100%</div>
      </div>
      <div class="tr">
        <div class="td">Intervall</div>
        <div class="td">6 - 15 Messwerte => 18 - 45 Stunden</div>
      </div>
      <div class="tr">
        <div class="td">H&auml;ufigkeit</div>
        <div class="td">1 / 2000</div>
      </div>
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Wake effect</div>
        <div class="td"></div>
      </div>
      <div class="tr">
        <div class="td">Auftreten</div>
        <div class="td">Ung&uuml;nstiger Windrichtung (criticalWindDirection) verursacht Verwirbelungen.</div>
      </div>
      <div class="tr">
        <div class="td">Drosselung</div>
        <div class="td">10 - 20%</div>
      </div>
      <div class="tr">
        <div class="td">Intervall</div>
        <div class="td">W&auml;hrend bestimmter Windrichtungen.</div>
      </div>
      <div class="tr">
        <div class="td">H&auml;ufigkeit</div>
        <div class="td">Wetterbedingt</div>
      </div>
    </div>

    <p>Mit diesen Werten kann letztendlich die tats&auml;chliche Produktion berechnet werden. Sie ergibt
      sich aus der potentiellen Produktion in Reduktion mit den aufgetreten Curtailment-Faktioren
      und einer variablen Abweichung die sich zwischen -15% und + 5% bewegt. Dies soll f&uuml;r
      realistischere Werte sorgen, da davon ausgegangen werden muss, dass selbst ohne
      Curtailment niemals die ideale Produktionslinie erreicht wird und viele weitere Faktioren auf
      die Produktion Einfluss nehmen k&ouml;nnen.</p>

    <p>Da nicht bekannt ist, ob beziehungsweise wie genau Blindleistung berechnet werden kann,
      wurde diese als ActProduction * -0.3 berechnet.</p>

    <p>Der Status richtet sich nach der tats&auml;chlichen Produktion. Wurde etwas produziert, so wird
      der Status auf <span class="italic">active</span> gesetzt, blieb die Produktion jedoch komplett aus, so gilt diese
      Turbine als <span class="italic">inactive</span>.</p>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
