<template>
  <div>
    <h1>Einleitung</h1>

    <p>Der Gro&szlig;teil des Datensatzes besteht aus frei berechneten Werten auf Basis eigener
      Recherche. Als Grundlage dienten Daten aus der kostenlosen Wetterdatenbank
      <a :href="'https://www.windguru.cz'" target="_blank">www.windguru.cz</a>. Diese stellt verschiedene Wetterdaten im Abstand von jeweils 3 Stunden
      an vielen verschiedenen Messpunkten kostenlos zur Verf&uuml;gung.</p>

    <p>Im sp&auml;teren Verlauf des Projekts stand eine kleine Basis realer Messdaten zur Verf&uuml;gung.
      Diese wurden ebenfalls in die Datenbank &uuml;bernommen. Lediglich die potentielle Produktion
      konnte dem Datensatz nicht entnommen werden und wurde in gleicher Weise wie bei den
      freien Datens&auml;tzen berechnet.</p>

    <p>Die folgenden Grafiken zeigen die Verteilung der relevanten Messdaten in der Datenbank:</p>

    <div>
      <img src="../../assets/content/power.jpg" alt="Verteilung der Messdaten" title="Verteilung der Messdaten">
    </div>

    <div>
      <img src="../../assets/content/wetter.jpg" alt="Verteilung der Messdaten" title="Verteilung der Messdaten">
    </div>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
