<template>
  <div>
    <h1>Action-Button</h1>

    <p>Der Action-Button enth&auml;lt momentan zwei Unterpunkte bzw. Icons, die jeweils zum Aufrufen der jeweiligen Cards
      Dashboard und Alarme dienen. Die Icons treten nach Tab bzw. Klick auf das 3-Punkt-Icon rechts in einem Listenelement
      zum Vorschein. Alternativ l&auml;sst sich dieses Kontextmen&uuml; eines Listenelements durch eine Wischgeste
      von rechts nach links sliden.</p>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
