<template>
  <div>
    <h1>Cards</h1>

    <p>Nachdem eine Card durch einen Action-Button aufgerufen wurde, kommt diese von unten &uuml;ber das Interface
      hineingefahren. Die Card <span class="italic">Dashboard</span> enth&auml;lt Informationen &uuml;ber die Produktion in einer
      zusammengefassten Preview. Diese Cards enthalten aktuelle Status Informationen &uuml;ber eine Einheit
      (z.B. ob eine Turbine online ist), sowie Graphen zur Analyse und Auswertung. Die Card <span class="italic">Alarme</span>
      listet alle Alarme einer Einheit zeitlich sortiert auf. Es gibt drei Dringlichkeitsstufen:</p>

    <ul class="list">
      <li><span class="bold">Critical (rot)</span> &ndash; Ein Problem, welches die Produktion beeinflusst.</li>
      <li><span class="bold">Medium (orange): </span> &ndash; Ein Problem, welches die Produktion beeinflussen wird.</li>
      <li><span class="bold">Low (gelb)</span> &ndash; Ein Problem, welches die Produktion beeinflussen könnte.</li>
    </ul>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
