<template>
  <div>
    <h1>Listenelement</h1>

    <p>Das Listenelement dient zur Auswahl einer Einheit und stellt dabei (in Kurzform) auch einige Informationen als
      Vorschau dar.</p>
    <p>Diese sind folgende:</p>

    <ul class="list">
      <li>Active Power in GWh/MWh (bei allen Ebenen).</li>
      <li>Anzahl der Parks als Zahl (bei Fleets).</li>
      <li>Anzahl der Turbinen als Zahl (bei FeederLines und Parks).</li>
      <li>Active Turbines in % (bei FeederLines und Parks).</li>
      <li>Reactive Power in MVAr (auf jeder Ebene).</li>
      <li>Aktueller Zustand als Text (nur bei Turbinen).</li>
    </ul>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
