<template>
  <div>
    <h1>Map</h1>

    <p>Die Map dient zur geographischen Einordnung der sich auf der jeweiligen Ebene befindlichen Einheiten.</p>
    <p>Folgende Bedienungsweisen sind angedacht:</p>

    <ul class="list">
      <li>Scrollen in alle Richtungen zum Finden der entsprechenden Einheit.</li>
    </ul>

    <p>Folgende Bedienungsweisen sind optional umsetzbar:</p>

    <ul class="list">
      <li>Stufenloses Zoomen mit automatischem Aktualisieren der Einheiten.</li>
    </ul>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
