<template>
  <div>
    <h1>NavigationBar</h1>

    <p>Die Navigationsbar dient einerseits zur Navigation zwischen den verschiedenen Ebenen:
      Mit dem <span class="italic">back-button</span> gelangt man zur vorherigen Ebene. Zus&auml;tzlich ist im oberen Bereich
      eine <span class="italic">breadcrumb-navigation</span> enthalten, die zur Einordnung der aktuellen Ebene dient und mit
      welcher man schnell zwischen den verschiedenen Ebenen wechseln kann.</p>

    <p>Andererseits enth&auml;lt die NavigationsBar eine Zusammenfassung mit Angaben &uuml;ber Active Power,
      Reactive Power und Active Turbines zur entsprechenden Ebene.</p>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
