<template>
  <div>
    <h1>Navigationsstruktur</h1>

    <p>Grid-Frameworks wie Bootstrap erleichtern einem die Arbeit der Formatierung des Frontends. Hier haben wir am Anfang
      des Semesters wieder drei verschiedene Frameworks verglichen:</p>

    <ul class="list">
      <li><a @click="openMap">Map</a> &ndash; Die Weltkarte dient zur geographischen Einordnung als auch zur Navigation
        und kann neben dem Namen der Einheit auch Zusatzinformationen wie z.B. Active Power enthalten.</li>
      <li><a @click="openNavigationBar">Navigationsbar</a> &ndash; Der graue, &uuml;ber dem Listenelement befindliche Bereich
        dient zur Navigation zwischen den verschiedenen Ebenen.</li>
      <li><a @click="openListElement">Listenelement</a> &ndash; Der wei&szlig;e Bereich unterhalb der Navigationsbar listet jeweils,
        die sich auf der Ebene befindlichen Einheiten auf.</li>
      <li><a @click="openAction">Action-Button</a> &ndash; Der sich im Listenelement befindliche, und auf eine einheit-beziehende
        Action-Button dient zum Aufrufen der Cards.</li>
      <li><a @click="openCards">Cards</a> &ndash; Die Cards enthalten Detail-Informationen, der jeweils
        ausgew&auml;hlten Einheit. Es gibt drei Cards: Dashboard, Details und Alarme.</li>
    </ul>

    <p class="italic">Verfasst von Konrad Koppenborg</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openMap () {
        eventBus.$emit('componentClick', 'app-map')
      },
      openNavigationBar () {
        eventBus.$emit('componentClick', 'app-navigationbar')
      },
      openListElement () {
        eventBus.$emit('componentClick', 'app-listelement')
      },
      openAction () {
        eventBus.$emit('componentClick', 'app-action')
      },
      openCards () {
        eventBus.$emit('componentClick', 'app-cards')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
