<template>
  <div>
    <h1>Leaflet.js</h1>
    <p>Die Entscheidung für <a :href="link" target="_blank">Leaflet.js</a> gegenüber anderen Lösungen wie GoogleMaps und Co. wurde aufgrund folgender Faktoren getroffen:</p>

    <div>
      <img src="../../../assets/technic/frontend/leaflet_researcht.jpg" alt="Leaflet Research" title="Leaflet Research">
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        link: 'http://leafletjs.com/reference-1.1.0.html'
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
