<template>
  <div>
    <h1>Map</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Stellt die Karte dar.</p>

    <h2>Beschreibung</h2>
    <p>Stellt auf Basis von Leaflet.js und OSM die Karte mitsamt Markern und ihrer Darstellungs/
      Navigationslogik dar.</p>

    <h2>Zusatz</h2>
    <p><a :href="'https://www.npmjs.com/package/quick-hull-2d'" target="_blank">Quick-hull-2d</a>, <a :href="'https://github.com/KoRiGaN/Vue2Leaflet'" target="_blank">Vue2Leaflet</a>, <a :href="'https://github.com/jperelli/vue2-leaflet-markercluster'" target="_blank">Vue2LeafletMarkercluster</a></p>

    <h2>Komponenten</h2>
    <p>Vue2Leaflet.Map, Vue2Leaflet.Tilelayer, Vue2Leaflet.Marker, Vue2Leaflet.Popup, Vue2Leaflet.Tooltip,
      Vue2LeafletMarkercluster (siehe <a :href="'https://github.com/KoRiGaN/Vue2Leaflet'" target="_blank">Vue2Leaflet</a>)</p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">zoomedIn</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an, ob der Nutzer rein oder raus gezoomt hat &ndash; liefert f&uuml;r rein true.</div>
      </div>

      <div class="tr">
        <div class="td italic">wasMarkerClick</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an, ob der Nutzer auf einen Marker oder ein Element in der Liste geklickt hat &ndash; liefert
          in diesem Fall true.</div>
      </div>

      <div class="tr">
        <div class="td italic">initialBounding</div>
        <div class="td">Boolean</div>
        <div class="td">Wird dazu verwendet festzustellen, ob die Dimensionen der Karte bereits festgelegt
          wurde. Dient dazu Bugs mit dem Zoom Event zu vermeiden &ndash; liefert nach dem ersten Laden der Seite
          true.</div>
      </div>

      <div class="tr">
        <div class="td italic">toggledBottomBar</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an, ob die <a @click="openNavigationBar">NavigationBar</a> ausgeklappt ist oder nicht. Wird dazu verwendet die
          Positionierung der Karte dementsprechend anzupassen.</div>
      </div>

      <div class="tr">
        <div class="td italic">bottomMargin</div>
        <div class="td">Number</div>
        <div class="td">Ist entweder 0 oder 200 &ndash; wird dazu verwendet &uuml;ber margin-bottom die Karte nach oben
          zu verschieben wenn toggledBottomBar auf true steht.</div>
      </div>

      <div class="tr">
        <div class="td italic">bounds</div>
        <div class="td">Leaflet.latLngBounds</div>
        <div class="td">Wird daf&uuml;r verwendet den aktuellen Kartenausschnitt zu speichern.</div>
      </div>

      <div class="tr">
        <div class="td italic">testPolygon</div>
        <div class="td">Array</div>
        <div class="td">Speichert die berechnete Outline eines Parks/Feederline etc.</div>
      </div>

      <div class="tr">
        <div class="td italic">url</div>
        <div class="td">String</div>
        <div class="td">Link zur verwendeten MapBox Karte.</div>
      </div>

      <div class="tr">
        <div class="td italic">attribution</div>
        <div class="td">String</div>
        <div class="td">Copyrightangabe für OSM.</div>
      </div>

      <div class="tr">
        <div class="td italic">markers</div>
        <div class="td">Array</div>
        <div class="td">Speichert alle Marker Objekte.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">justifyPositions()</div>
        <div class="td">Sobald sich die Karte in irgendeiner Form ver&auml;ndert, werden alle auf der Karte
          dargestellten Marker eingelesen. Aus deren translate3D Styleproperty werden die x und y Wert
          ausgelesen und alle Marker miteinander verglichen. Der Vergleich pr&uuml;ft ob sich Marker gegenseitig
          &uuml;berlagern. Ist die der Fall werden alle auf der Karte dargestellten Marker um -90 Grad gedreht.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/map_justifyPositions.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">markerClick(item)</div>
        <div class="td">Nimmt ein Element aus dem span class="italic">markers</span> Array entgegen. Aus den daraus extrahierten
          Daten wird ein tempor&auml;res Objekt erstellt welches, den Namen des Markers, seinen Datenlink sowie
          eine Angabe, dass es sich um einen Klick auf einen Marker gehandelt hat enth&auml;lt. Daraufhin wird
          &uuml;berpr&uuml;ft ob der ausgew&auml;hlt Marker einen Parkalarm besitzt. Ist dies der Fall wird die Navigation
          verboten. Ist es nicht der Fall wird das <span class="italic">fleetWasChosen</span> Event ausgel&ouml;st, welchem als Daten das
          tempor&auml;re Objekt &uuml;bergeben wird.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/map_markerClick.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">calculateUnitFactor(number)</div>
        <div class="td">Nimmt eine Zahl entgegen und berechnet anhand ihr das korrekte Pr&auml;fix f&uuml;r die Einheit
          (da - Y).</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/map_calculateUnitFactor.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">createMapMarker(iconUrl, name, errorCount, anchor, power)</div>
        <div class="td">Erzeugt und returned einen neuen Marker. Daf&uuml;r wird zuerst die durch das Argument
          <span class="italic">power</span> &uuml;bergebene Energieleistung soweit verkleinert bis diese &lt; 1000 ist. In einem n&auml;chsten Schritt wird mit <span class="italic">calculateUnitFactor</span> die korrekte Einheit berechnet und der Wert auf eine Ganzzahl gek&uuml;rzt.
          Abschlie&szlig;end wird anhand dem errorCount Argument &uuml;berpr&uuml;ft ob der Marker einen Alarm besitzt
          oder nicht (errorCount === null). Je nach Entscheidung wird ein Leaflet divIcon Objekt erstellt,
          welches &uuml;ber den html Key einen HTML String als Mockup &uuml;bergeben bekommt.
        </div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/map_createMapMarker.jpg" alt="Code" title="Code">
    </div>
    <div class="space"></div>


    <h2>Events</h2>
    <p>Dieses Modul besitzt Listener f&uuml;r folgende Events:</p>

    <div class="table table4">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Ausl&ouml;ser</div>
        <div class="td">Daten</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">fleetWasChosen</div>
        <div class="td">Sobald ein Listenelement ausgew&auml;hlt wurde (&uuml;ber die Liste oder den Marker).</div>
        <div class="td">
          <p><span class="bold">name</span> &ndash; Der Namen des Ausgel&ouml;sten Elements. Wird <span class="italic">dataForTopBar.navPath</span> hinzugef&uuml;gt um die
            Breadcrump zu bilden.</p>
          <p><span class="bold">href</span> &ndash; Der Link zu den Informationen des ausgew&auml;hlten Elements.</p>
          <p><span class="bold">wasMarker</span> &ndash; Boolean liefert true wenn event von einem Marker oder Listenelement ausgel&ouml;st
            wurde.</p>
        </div>
        <div class="td">
          <p>Falls der wasMarker auf true gesetzt ist, wird <span class="italic">wasMarkerClick</span> ebenfalls auf dieses Wert
            gesetzt. Dient dazu Zoomfehler zu verhindern.</p>
        </div>
      </div>

      <div class="tr">
        <div class="td italic">navigateBack</div>
        <div class="td">Sobald die Zur&uuml;ck-Navigation stattfindet.</div>
        <div class="td">
          <p><span class="bold">callType</span> &ndash; Das aktuelle Navigationslevel auf welchem sich der Nutzer befindet.</p>
          <p><span class="bold">href</span> &ndash; Der Link zu den Informationen des ausgew&auml;hlten Elements.</p>
          <p><span class="bold">wasMarker</span> &ndash; Boolean liefert true wenn Event vom Z&uuml;ruckBottom der NAVIGATIONTOPBAR
            ausgel&ouml;st wurde.</p>
        </div>
        <div class="td">
          <p>Falls der wasMarker auf true gesetzt ist, wird <span class="italic">wasMarkerClick</span> ebenfalls auf dieses Wert
            gesetzt. Dient dazu Zoomfehler zu verhindern.</p>
        </div>
      </div>

      <div class="tr">
        <div class="td italic">toggledBottomBar</div>
        <div class="td">Sobald die <a @click="openNavigationBar">NavigationBar</a> aus oder einklappt wurde.</div>
        <div class="td">
          <p><span class="bold">isActive</span> &ndash; Boolean liefert true wenn <a @click="openNavigationBar">NavigationBar</a> ausgeklappt.</p>
        </div>
        <div class="td">
          <p>Wenn isActive auf true, dann wird <span class="italic">bottomMargin</span> auf 200 gesetzt anderenfalls auf.</p>
        </div>
      </div>

      <div class="tr">
        <div class="td italic">markersSet</div>
        <div class="td">Sobald die <a @click="openNavigationBar">NavigationBar</a> aus oder einklappt wurde.</div>
        <div class="td">
          <p><span class="bold">markers</span> &ndash; Array mit allen Markern und ihren Informationen, die auf der Liste dargestellt werden
            sollen.</p>
        </div>
        <div class="td">
          <p>Erstellt f&uuml;r jedes Element im markers Array, das entsprechende MarkerIcon indem
            createMapMarker(iconUrl, name, errorCount, anchor, power) aufgerufen wird. Dabei wird automatisch
            anhand dem Typ (Fleet, Park, etc.) des Elements das korrekte Icon f&uuml;r den Marker ausgew&auml;hlt. Im
            n&auml;chsten Schritt wird ein Leaflet Marker Objekt erstellt, welches als Icon das von createMapMarker
            erzeugte Objekt erh&auml;lt. Die Position und alle anderen relevanten Informationen enth&auml;lt das Marker
            Objekt aus den &uuml;bergeben Daten.</p>
          <p>In einem n&auml;chsten Schritt wird &uuml;berpr&uuml;ft ob die Marker aufgrund des ersten Renders der Map oder
            aufgrund eines Klicks auf einen Marker oder einem Listenelement ausgel&ouml;st wurde. In beiden F&auml;llen
            muss der Ausschnitt der Karte angepasst werden. Zoomed der Nutzer von Hand ist dieser Schritt nicht
            n&ouml;tig. Um den Kartenauschnitt zu berechnen werden der n&ouml;rdlichste, s&uuml;dlichste, westlichste und
            &ouml;stlichste Positionswert aller Marker ausgelesen und abgespeichert. Auf Basis dieser vier Werten
            k&ouml;nnen die vier Eckpunkte des optimalen Kartenauschnitts ausgelesen werden. Damit die Marker
            nicht am Rand der Karte kleben wird auf diese vier Punkte abh&auml;ngig vom Zoomlevel noch ein Offset
            (Padding) hinzugef&uuml;gt.</p>
          <p>Um die Outline um alle angezeigten Marker zu zeichnen, werden alle Postionen der Marker mithilfe
            des Quick-Hull Algorithmus zu einem umschlie&szlig;enden Polygon vereinigt und der Karte hinzugef&uuml;gt.</p>
        </div>
      </div>
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openNavigationBar () {
        eventBus.$emit('componentClick', 'app-navigationbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
