<template>
  <div>
    <h1>Async</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Async ist ein Node Utility-Modul, das leistungsstarke Funktionen f&uuml;r den asynchronen Kontrollfluss beim Arbeit mit
      asynchronem JavaScript bietet. Obwohl urspr&uuml;nglich f&uuml;r den Einsatz mit Node.js konzipiert, kann es auch direkt
      im Browser verwendet werden.</p>

    <p><a :href="'https://caolan.github.io/async/docs.html'" target="_blank">Async.parallel</a> f&uuml;hrt die Callback-basierte Liste von Funktionen parallel aus, ohne auf das Beenden der vorherigen Funktion zu warten.</p>

    <p><a :href="'https://caolan.github.io/async/docs.html'" target="_blank">Async.each</a> wendet die Funktion auf jedes Element in der Liste parallel an.</p>

    <p class="italic">Verfasst von Lilia Kraft</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
