<template>
  <div>
    <h1>Node.js</h1>

    <h2>Einf&uuml;hrung</h2>

    <p><a :href="'https://nodejs.org/en'" target="_blank">Node.js</a> ist eine JavaScript-basierte Plattform f&uuml;r Netzwerkanwendungen und stellt die Daten der Front-End-Anwendung
      &uuml;ber RE'STful API-Endpunkte zur Verf&uuml;gung. Das besondere daran ist, dass diese Plattform serverseitig agiert und
      auf der performanten V8-Laufzeitumgebung von Google aufsetzt.</p>

    <p><a :href="'https://nodejs.org/en'" target="_blank">NPM</a> ist der dazugeh&ouml;rige Node.js Package Manager und h&auml;lt eine Vielzahl von fertigen und frei verwendbaren
      Paketen &ndash; sogenannte Module &ndash; f&uuml;r Node.js bereit.</p>

    <p>Ein Vorteil von Node.js ist, dass kein serverseitiger Kontext-Wechsel (JavaScript + JSON) notwendig ist,
      da JavaScript im Front- und Backend verwendet wird.<br />
      Ein Nachteil von Node.js ist, dass es f&uuml;r rechenintensive Anwendungen, die sehr viel CPU beanspruchen nicht geeignet ist.</p>

    <p class="italic">Verfasst von Lilia Kraft</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
