<template>
  <div>
    <h1>Restify</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Normalerweise erfordern <a :href="'http://www.ics.uci.edu/~felding/pubs/dissertation/rest_arch_style.htm'" target="_blank">Representational State Transfer</a>-Dienste
      kein Framework, aber das Einsetzen eines Frameworks erleichtert die API-Entwicklung.</p>

    <p>Folgende API Frameworks wurden bei der Wahl betrachtet:</p>

    <p><a :href="'http://restify.com'" target="_blank">Restify</a> ist eines der leichteren Frameworks, die keinen Programmierer dazu zwingen, externe Module und Bibliotheken
      zu benutzen. Dar&uuml;ber hinaus funktioniert es mit einem Minimum an Features. <a :href="'http://restify.com'" target="_blank">Restify</a> wird als ein Framework betrachtet,
      das absolute Kontrolle &uuml;ber Interaktionen mit HTTP gibt.</p>

    <p><a :href="'https://expressjs.com'" target="_blank">Express</a> ist die grundlegende Node.js API, die mehr Funktionalit&auml;t (Templating und Rendering) enth&auml;lt und
      jedes erforderliche Modul kann hinzugef&uuml;gt werden.</p>

    <p><a :href="'https://hapijs.com/api'" target="_blank">Hapi</a> ist ein Node.js-Framework, der durch die
      Vollzeitunterst&uuml;tzung des Walmart Labs-Teams an Dynamik gewinnt. Es unterst&uuml;tzt einen anderen Ansatz
      von Express und Restify durch die Bereitstellung von deutlich mehr Funktionalit&auml;t aus der Box f&uuml;r den
      Aufbau von Web-Servern. <a :href="'https://hapijs.com/api'" target="_blank">Hapi</a> bietet viele Bausteine und die Lernkurve kann dadurch etwas h&ouml;her ausfallen.</p>

    <p><a :href="'https://loopback.io'" target="_blank">LoopBack</a> ist ein voll funktionsf&auml;higes Node.js Backend Framework, um Daten &uuml;ber APIs an Applikationen
      bereitzustellen. Es wird meistens gesch&auml;tzt f&uuml;r seine Flexibilit&auml;t und die Geschwindigkeit, mit der
      es erlaubt, ein App-Skelett zu erstellen. Es folgt dem &quot;Konvention &uuml;ber die Konfiguration&quot; Prinzip,
      der von Ruby on Rails gef&ouml;rdert wurde. Ein Nachteil bei diesem Framework ist die ziemlich steile Lernkurve,
      was damit zusammenh&auml;ngt, dass es so viele bewegliche Teile gibt.</p>
    <div class="space"></div>


    <h2>Performance Vergleich</h2>

    <p class="bold">Testumgebung</p>
    <div>
      <img src="../../../assets/technic/backend/testumgebung.jpg" alt="Performance Vergleich" title="Performance Vergleich">
    </div>

    <p class="bold">API Framework Version</p>
    <div>
      <img src="../../../assets/technic/backend/framework.jpg" alt="Performance Vergleich" title="Performance Vergleich">
    </div>

    <h2>Ergebnisse von Node Performance-Test (2016)</h2>
    <p>Nicht &uuml;berraschend ist, dass die Raw Node.js Anwendung am schnellsten ist, aber um einen geringeren Betrag
      als erwartet in diesem bestimmten <a :href="'https://raygun.com/blog/node-performance'" target="_blank">Node-Performance Test</a>. Restify war innerhalb von 15% der Anfragen pro Sekunde und Hapi
      war deutlich langsamer bei knapp &uuml;ber 50% der Geschwindigkeit der Raw Node.js App.</p>

    <div>
      <img src="../../../assets/technic/backend/performance_test.jpg" alt="Performance-Test" title="Performance-Test">
    </div>

    <p class="italic">Quelle: <a :href="'https://raygun.com/blog/node-performance'" target="_blank">https://raygun.com/blog/node-performance</a></p>

    <p class="italic">Verfasst von Lilia Kraft</p>

  </div>
</template>


<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
