<template>
  <div>
    <h1>Rest API</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Neben SOAP gibt es eine weitere Alternative f&uuml;r die Realisierung von Web Services. Thomas Roy Fielding beschreibt
      in seiner Dissertation einen Architekturstil, den er <a :href="'http://www.ics.uci.edu/~felding/pubs/dissertation/rest_arch_style.htm'" target="_blank">Representational State Transfer Architektur</a> oder kurz REST nennt.</p>

    <p>REST basiert auf Prinzipien, die in den großen verteilten Anwendung eingesetzt werden.</p>

    <p>Das Grundkonzept von REST ist, dass jede Ressource mit einem URI (Uniform Resource Identifier) eindeutig identifizierbar ist.
      Dabei wird diese Ressource &uuml;ber ihre URI adressiert und angesprochen. Bei der Definition von RESTful-URLs bestimmen das
      Datenmodell einer Anwendung und die Beziehungen zwischen den bereitgestellten Informationen den Resource Identifier.</p>

    <p>In den Repr&auml;sentationen von Ressourcen sind Links enthalten, die auf andere Ressourcen zeigen. In der Kommunikation zwischen
      Client und Server werden die URIs als Teil des Inhalts der ausgetauschten Nachrichten &uuml;bermitteln.</p>

    <p>RESTful-Services stellen den Zugriff auf Daten einer Anwendung via Kommunikationsprotokoll HTTP bereit und bearbeiten die
      Ressourcen durch die Methoden GET, PUT, POST und DELETE.</p>

    <p>Das Format das zwischen einem RESTful-Client und -Server ausgetauschten Daten richtet sich nach den F&auml;higkeiten des Clients.
      Grundlage der Entscheidung bilden die vom Client mitgeschickten HTTP Accept Header, &uuml;ber die man signalisieren kann,
      welche Content-Typen der Client im Allgemeinen, aber auch f&uuml;r den konkreten Request als Antwort unterst&uuml;tzt.
      Das klassische Datenformat f&uuml;r <a :href="'https://www.heise.de/developer/artikel/Webservices-mit-Java-EE-6-JAX-WS-und-RESTful-Services-1247464.html'" target="_blank">RESTful-Services</a> ist die JavaScript Object Notation (JSON).</p>

    <p class="italic">Verfasst von Lilia Kraft</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
