<template>
  <div>
    <h1>Server Architektur</h1>

    <div>
      <img src="../../../assets/technic/backend/architecture.jpg" alt="Reverse Proxy to Node.js Application" title="Reverse Proxy to Node.js Application">
    </div>

    <h2>Server: ventus.multimedia.hs-augsburg.de</h2>

    <h2>MongoDB</h2>
    <ul class="list">
      <li>App location: root/MongoDB</li>
      <li>Port: 27017 has been opened for access from within the University network</li>
      <li>Logs: var/log/mongodb</li>
      <li>Start up: root/db-start.sh, root/db-restart.sh</li>
    </ul>

    <h2>Node API</h2>
    <ul class="list">
      <li>App location: home/ventus/app</li>
      <li>Port: 3000 (the web traffic comes in on port 443 via Appache2 and then gets redirected to 3000)</li>
      <li>Logs: home/ventus/app</li>
      <li>Start up: uses &lsquo;forever&rsquo; to run node app continuously (as user: ventus, password:v3N+us)</li>
    </ul>

    <p class="italic">Verfasst von Lilia Kraft</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  .list li::before {
    content: '\25CF';
    color: #2387AB;
    position: absolute;
    left: 0;
    top: -2px;
  }

  li {
    font-weight: normal;
    font-size: 80%;
    position: relative;
    padding-left: 15px;
  }
</style>
