<template>
  <div>
    <h1>AlarmContainer</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper f&uuml;r die AlarmCards.</p>

    <h2>Beschreibung</h2>
    <p>Stellt alle Alarme der Kinder des Elements dar.</p>

    <h2>Komponenten</h2>
    <p><a @click="openBarChart">BarChart</a></p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">datasets</div>
        <div class="td">Array</div>
        <div class="td">Alle Alarme der Kindelemente.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__alarmCount</div>
        <div class="td">String</div>
        <div class="td">API-Link zu den Alarmen des Elements.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__dataPoints</div>
        <div class="td">String</div>
        <div class="td">API-Link zu den Datenpunkten des Elements.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Created</h2>
    <p>Sobald das Element von Vue.js erzeugt wird, werden wird ein API Call mit <span class="italic">prop__alarmCount</span> gestartet. Die
      gelieferten Daten werden f&uuml;r jedes Kindelement nach alten und neuen Alarme sowie ihrer Gewichtung
      sortiert und in zwei Objekte &ndash; eines f&uuml;r alte und eines f&uuml;r neue Alarme &ndash; gespeichert. Aus diesen beiden
      Objekten wird ein <a>BarChart</a> Objekt gebildet und dieses <span class="italic">datasets</span> zugewiesen. Auf diese Weise wird f&uuml;r
      jedes Kind ein neuer Graph mit Alarmen gezeichnet..</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openBarChart () {
        eventBus.$emit('componentClick', 'app-barchart')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
