<template>
  <div>
    <h1>Cards</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper f&uuml;r die Cards und die Headline, sowie das Detail <a @click="openModal">Modal</a>.</p>

    <h2>Beschreibung</h2>
    <p>Beinhaltet die Komponenten <a @click="openContainer">Container</a> und <a @click="openModal">Modal</a>. Dient als einsteig f&uuml;r die /detail
      Route.</p>

    <h2>Komponenten</h2>
    <p><a @click="openContainer">Container</a>, <a @click="openModal">Modal</a></p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">modalActive</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an, ob das Modal ge&ouml;ffnet ist oder nicht.</div>
      </div>

      <div class="tr">
        <div class="td italic">dataForModal</div>
        <div class="td">Object</div>
        <div class="td">Alle Daten, die vom Modal ben&ouml;tigt werden.</div>
      </div>

        <div class="tr">
          <div class="td italic td-left">set</div>
          <div class="td">Array</div>
          <div class="td">Datenpunkte, welche dargestellt werden sollen.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">label</div>
          <div class="td">String</div>
          <div class="td">Name des Objektes, welcher angegeben werden soll.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">sndScale</div>
          <div class="td">Boolean</div>
          <div class="td">Gibt an, ob eine zweite Y Achse angezeigt werden soll.</div>
        </div>

      <div class="tr">
        <div class="td italic">componentData</div>
        <div class="td">Object</div>
        <div class="td">Alle Daten, die zur Darstellung der Cards ben&ouml;tigt werden.</div>
      </div>

        <div class="tr">
          <div class="td italic td-left">graphActive</div>
          <div class="td">Boolean</div>
          <div class="td">Gibt an, ob die Cards f&uuml;r die Graphen angezeigt werden. Liefer True wenn ja. Wird
            dazu verwendet den Opacity toggle auf die Navigations-Buttons zu setzen.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardName</div>
          <div class="td">String</div>
          <div class="td">Name des ausgew&auml;hlten Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardBreadcrump</div>
          <div class="td">Array</div>
          <div class="td">Der aktuelle Navigationspfad des Nutzers.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardAlarmCount</div>
          <div class="td">String</div>
          <div class="td">API-Link zu den Alarmen des Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardDataPoints</div>
          <div class="td">String</div>
          <div class="td">API-Link zu den Datenpunkten des Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardPathPartentURL</div>
          <div class="td">String</div>
          <div class="td">API-Link zum Elternelement des Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardListType</div>
          <div class="td">String</div>
          <div class="td">Navigationslevel des Elements (Fleet, Park, etc.).</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">activePage</div>
          <div class="td">String</div>
          <div class="td">Kann <span class="italic">appGraphContainer</span> oder <span class="italic">appAlarmContainer</span> sein. Dient dazu die korrekte
            Komponente in den Container zu laden.</div>
        </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">toggleAlarms()</div>
        <div class="td">Setzt <span class="italic">componentData.graphActive</span> auf false und <span class="italic">componentData.activePage</span> auf
          <span class="italic">appAlarmContainer</span>. &Ouml;ffnet so die Cards der Alarme.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/cards_toggleAlarms.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">toggleGraphs()</div>
        <div class="td">Setzt <span class="italic">componentData.graphActive</span> auf true und <span class="italic">componentData.activePage</span> auf
          <span class="italic">appGraphContainer</span>. &Ouml;ffnet so die Cards der Graphen.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/cards_toggleGraphs.jpg" alt="Code" title="Code">
    </div>
    <div class="space"></div>


    <h2>Events</h2>
    <p>Dieses Modul besitzt Listener f&uuml;r folgende Events:</p>

    <div class="table table4">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Ausl&ouml;ser</div>
        <div class="td">Daten</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">toggleModal(data)</div>
        <div class="td">Das Modal ge&ouml;ffnet werden soll.</div>
        <div class="td">
          <p><span class="bold">labels</span> &ndash; Array mit den Namen der in den Graphen dargestellten Werte.</p>
          <p><span class="bold">dataset</span> &ndash; Array mit den Datenpunkten der Graphen.</p>
        </div>
        <div class="td">
          <p>Falls sich den dataset mehr als ein Datenset befindet, wird <span class="italic">dataForModal.sndScale</span> auf
            true gesetzt um die zus&auml;tzliche X-Achse anzuzeigen. Zus&auml;tzlich dazu wird den Achsen ihrer Korrekte
            Bezeichnung zugewiesen und <span class="italic">dataForModal.set</span> das mitgeschickte dataset &uuml;bergeben.</p>
        </div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Created</h2>
    <p>Sobald das Element von Vue.js erzeugt wird, werden die <span class="italic">componentData</span> Variablen mit den an die Url
      angeh&auml;ngten Parametern gef&uuml;llt. In Abh&auml;ngigkeit ob die Cards f&uuml;r Alarme oder Graphen ge&ouml;ffnet werden
      sollen werden <span class="italic">componentData.graphActive</span> und <span class="italic">componentData.activePage</span> auf die korrekten Werte gesetzt.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openModal () {
        eventBus.$emit('componentClick', 'app-modal')
      },
      openContainer () {
        eventBus.$emit('componentClick', 'app-container')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
