<template>
  <div>
    <h1>ContainerHeadline</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper f&uuml;r den Inhalt der Headline.</p>

    <h2>Beschreibung</h2>
    <p>Beinhaltet die Breadcrump und den Namen des Elements. In dieser Komponente kann
      ebenfalls die Detailansicht geschlossen werden.</p>

    <h2>Komponenten</h2>
    <p>keine</p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">headlineTitle</div>
        <div class="td">String</div>
        <div class="td">Speichert den Namen des Elements.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__headlineTitle</div>
        <div class="td">String</div>
        <div class="td">Der Name des Elements.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__cardListType</div>
        <div class="td">String</div>
        <div class="td">Der Typ des Elements (Fleet, Park, etc.).</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__cardPathParentUrl</div>
        <div class="td">String</div>
        <div class="td">API-Link zum Elternelement.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__cardBreadcrump</div>
        <div class="td">Array</div>
        <div class="td">Der aktuelle Navigationspfad des Nutzers.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">closePopUp()</div>
        <div class="td">Schlie&szlig;t die Detailansicht und &ouml;ffnet wieder die <a @click="openMainView">MainView</a> indem in den Router ein
          Object gepusht wird, welches auf den / Link verweisst. Zus&auml;tzlich dazu werden <span class="italic">prop__cardListType</span>,
          <span class="italic">prop__cardPathParentUrl</span> und <span class="italic">prop__cardBreadcrump</span> als Parameter an die Url geh&auml;ngt. Dies dient
          dazu, dass der Nutzer wieder zu der Ausgangsposition zur&uuml;ckkehrt, von welcher er die Detailansicht
          ge&ouml;ffnet hat.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/containerHeadline_closePopUP.jpg" alt="Code" title="Code">
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openMainView () {
        eventBus.$emit('componentClick', 'app-mainview')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
