<template>
  <div>
    <h1>Container</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper f&uuml;r die Cards und die Headline.</p>

    <h2>Beschreibung</h2>
    <p>Beinhaltet die Komponenten <a @click="openGraphContainer">GraphContainer</a>, <a @click="openAlarmContainer">AlarmContainer</a> und
      <a @click="openContainerHeadline">ContainerHeadline</a>. Stellt f&uuml;r das jeweilige Element alle Graphen und Alarme dar.</p>

    <h2>Komponenten</h2>
    <p><a @click="openGraphContainer">GraphContainer</a>, <a @click="openAlarmContainer">AlarmContainer</a>, <a @click="openContainerHeadline">ContainerHeadline</a></p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">animationType</div>
        <div class="td">String</div>
        <div class="td">Speichert die Richtung der Animation ab (rechts oder links).</div>
      </div>

        <div class="tr">
          <div class="td italic td-left">cardName</div>
          <div class="td">Array</div>
          <div class="td">Speichert den Namen des ausgew&auml;hlten Elementes.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardBreadcrump</div>
          <div class="td">Array</div>
          <div class="td">Speichert den aktuelle Navigationspfad des Nutzers.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardAlarmCount</div>
          <div class="td">String</div>
          <div class="td">Speichert den API-Link zu den Alarmen des Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardDataPoints</div>
          <div class="td">String</div>
          <div class="td">Speichert den API-Link zu den Datenpunkten des Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardPathPartentURL</div>
          <div class="td">String</div>
          <div class="td">Speichert den API-Link zum Elternelement des Elements.</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">cardListType</div>
          <div class="td">String</div>
          <div class="td">Speichert das Navigationslevel des Elements (Fleet, Park, etc.).</div>
        </div>

        <div class="tr">
          <div class="td italic td-left">activePage</div>
          <div class="td">String</div>
          <div class="td">Speichert den aktuelle aktiven Container.</div>
        </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__componentData</div>
        <div class="td">Object</div>
        <div class="td">Inhalt siehe <a @click="openCards">Cards</a> <span class="italic">componentData</span>.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Watch</h2>
    <p>Diese Komponente benutzt watched Elemente, um auf Ver&auml;nderungen der Properties zu reagieren.</p>
    <div class="table table2">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Reaktion</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__componentData.activePage</div>
        <div class="td">
          <p>Sobald sich dieser Wert ver&auml;ndert werden wird f&uuml;r die Fall das die Graphen angezeigt
            werden sollen, die Animation nach rechts abgespielt f&uuml;r den Fall der Alarme nach Links. Dies erzeugt
            den Schein, dass das Element beim Wechsel von Graphen und Alarmen hin und her geschoben wird.</p>
        </div>
      </div>
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openGraphContainer () {
        eventBus.$emit('componentClick', 'app-graphcontainer')
      },
      openAlarmContainer () {
        eventBus.$emit('componentClick', 'app-alarmcontainer')
      },
      openContainerHeadline () {
        eventBus.$emit('componentClick', 'app-containerheadline')
      },
      openCards () {
        eventBus.$emit('componentClick', 'app-cards')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
