<template>
  <div>
    <h1>GraphContainer</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Wrapper f&uuml;r die GraphCards.</p>

    <h2>Beschreibung</h2>
    <p>Stellt alle Graphen/Datenpunkte des Elements dar.</p>

    <h2>Komponenten</h2>
    <p><a @click="openLineChart">LineChart</a>, <a @click="openRadarChart">RadarChart</a>, <a @click="openBarChart">BarChart</a></p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">timeSpan</div>
        <div class="td">String</div>
        <div class="td">Die vom Nutzer eingestellte Zeitspanne.</div>
      </div>

      <div class="tr">
        <div class="td italic">counter</div>
        <div class="td">Array</div>
        <div class="td">Enth&auml;lt die einzelnen Informationen f&uuml;r Active und Reaktive Power sowie die Active
          Turbines. Jeder dieser Werte ist ein Object mit den Keys type (= der Name des Werts), value (= der
          Zahlen des Wertes) und unit (= die Einheit der Zahlen).</div>
      </div>

      <div class="tr">
        <div class="td italic">labels</div>
        <div class="td">Array</div>
        <div class="td">Speichert f&uuml;r die einzelnen Bezeichnungen der Datenpunkte f&uuml;r die jeweilige
          Darstellung im Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">datasets</div>
        <div class="td">Array</div>
        <div class="td">Speichert die einzelnen Graphen &ndash; Objekte ab.</div>
      </div>

      <div class="tr">
        <div class="td italic">datasetsCombi</div>
        <div class="td">Array</div>
        <div class="td">Speichert zwei Graphen &ndash; Objekte ab in welchen mehr als ein Datenset dargestellt
          werden soll.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__alarmCount</div>
        <div class="td">String</div>
        <div class="td">API-Link zu den Alarmen des Elements.</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__DataPoint</div>
        <div class="td">String</div>
        <div class="td">API-Link zu den Datenpunkten des Elements.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">calculateUnitFactor(number)</div>
        <div class="td">Nimmt eine Zahl entgegen und berechnet anhand ihr das korrekte Pr&auml;fix f&uuml;r die Einheit
          (da - Y).</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/graphContainer_calculateUnitFactor.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">normalizeDataValues()</div>
        <div class="td">Verkleinert die Werte von Active und Reactive Power f&uuml;r <a @click="openNavigationTopBar">NavigationTopBar</a> solange
          bis sie &lt; 1000 sind. Ruft in sich <span class="italic">calculateUnitFactor()</span> auf um die verkleinerten Werte mit den korrekten
          Einheiten zu versehen. Rundet die Werte auf eine Ganzzahl.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/graphContainer_normalizeDataValues.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">openDetailView(set)</div>
        <div class="td">Nimmt eine ein Objekt aus dem <span class="italic">dataset</span> bzw. <span class="italic">datasetCombi</span> Array entgegen und &ouml;ffnet
          damit ein Modal, welches den vergr&ouml;&szlig;erten Graphen anzeigt. Dabei werden dem ausgel&ouml;sten
          <span class="italic">toggleModal</span> Event ein Objekt mit den Labeln des Sets und dem Datenset (<span class="italic">set</span>) selbst mitgegeben.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/graphContainer_openDetailView.jpg" alt="Code" title="Code">
    </div>

    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">normalizeGraphs(array, unit)</div>
        <div class="td">Durchsucht das Array nach dem (absolut) gr&ouml;&szlig;ten Wert. Verkleinert diesen bis dieser
          keiner als 10000 ist. Der verwendete Teilungsfaktor wird abgespeichert und auf alle anderen Werte
          innerhalb des Array angewendet.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/graphContainer_normalizeGraphs.jpg" alt="Code" title="Code">
    </div>
    <div class="space"></div>


    <h2>Created</h2>
    <p>Sobald das Element von Vue.js erzeugt wird, werden wird ein API Call mit <span class="italic">prop__DataPoint</span> gestartet. Die
      gelieferten Daten werden werden nach den einzelnen Datenpaketen f&uuml;r jeden Wert durchsucht und alle
      zusammengeh&ouml;rigen Datenpunkte in ein tempor&auml;res Objekt gespeichert. Dieses beinhaltet.</p>

    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">label</div>
        <div class="td">String</div>
        <div class="td">An der x-Achse angezeigter Text zum Element.</div>
      </div>

      <div class="tr">
        <div class="td italic">name</div>
        <div class="td">String</div>
        <div class="td">Name des Elements.</div>
      </div>

      <div class="tr">
        <div class="td italic">yAxsisID</div>
        <div class="td">String</div>
        <div class="td">Gibt an, ob die rechte oder linke y-Achse verwendet werden soll.</div>
      </div>

      <div class="tr">
        <div class="td italic">backgroundColor</div>
        <div class="td">String</div>
        <div class="td">Farbe des Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">fillOpacity</div>
        <div class="td">Number</div>
        <div class="td">Transparenz des Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">data</div>
        <div class="td">Array</div>
        <div class="td">Datenpunkte in Form einer Zahl des Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">fill</div>
        <div class="td">Boolean</div>
        <div class="td">Gibt an, ob der Graph mit Farbe ausgef&uuml;llt sein soll.</div>
      </div>

      <div class="tr">
        <div class="td italic">borderColor</div>
        <div class="td">String</div>
        <div class="td">Farbe des Graphenkante.</div>
      </div>
    </div>

    <p>Diese einzelnen Datenobjekte werden dem <span class="italic">datasets</span> Array hinzugef&uuml;gt und k&ouml;nnen so einzeln dargestellt
      werden.</p>

    <p>Wenn mehrere Graphen zusammen in einer Darstellung angezeigt werden, m&uuml;ssen diese in einem weiteren
      Objekt zusammen gefasst und in das datasetsCombi Array eingef&uuml;gt werden.</p>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openBarChart () {
        eventBus.$emit('componentClick', 'app-barchart')
      },
      openLineChart () {
        eventBus.$emit('componentClick', 'app-linechart')
      },
      openRadarChart () {
        eventBus.$emit('componentClick', 'app-radarchart')
      },
      openNavigationTopBar () {
        eventBus.$emit('componentClick', 'app-navigationtopbar')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
