<template>
  <div>
    <h1>Modal</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>Popup in der Detailansicht.</p>

    <h2>Beschreibung</h2>
    <p>Stellt Fullscreen Ansichten aller Graphen/Datenpunkte des Elements dar. W&auml;hlt anhand
      des Graphentypes die korrekte und passende Komponente aus.</p>

    <h2>Komponenten</h2>
    <p><a @click="openLineChart">LineChart</a>, <a @click="openRadarChart">RadarChart</a>, <a @click="openBarChart">BarChart</a></p>
    <div class="space"></div>


    <h2>Data()</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">errorText</div>
        <div class="td">String</div>
        <div class="td">Kommuniziert dem Nutzer, dass er sein Telefon drehen muss.</div>
      </div>

      <div class="tr">
        <div class="td italic">errorTextBtm</div>
        <div class="td">String</div>
        <div class="td">Kommuniziert dem Nutzer, dass er sein Telefon drehen muss, dass er ggf. seinem
          Bildschirm entsperren muss.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Properties</h2>
    <div class="table table3">
      <div class="tr border bold">
        <div class="td">Name</div>
        <div class="td">Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">prop__dataFormModal</div>
        <div class="td">Object</div>
        <div class="td">Alle darzustellenden Daten &ndash; genau Auflistung unter <a>Cards</a> <span class="italic">dataForModal</span>.</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Methoden</h2>
    <div class="table table2">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">Beschreibung</div>
      </div>
      <div class="tr">
        <div class="td italic">toggleModal()</div>
        <div class="td">L&ouml;st das <span class="italic">dataForModaltoggleModal</span> Event aus. &Uuml;bergibt diesem nur eine null Referenz. Dies dient
          dazu, dass Modal zu schlie&szlig;en.</div>
      </div>
    </div>

    <div>
      <img src="../../../assets/technic/frontend/modal_toggleModal.jpg" alt="Code" title="Code">
    </div>

    <p class="italic">Verfasst von Hendrik Cammann</p>
  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openBarChart () {
        eventBus.$emit('componentClick', 'app-barchart')
      },
      openLineChart () {
        eventBus.$emit('componentClick', 'app-linechart')
      },
      openRadarChart () {
        eventBus.$emit('componentClick', 'app-radarchart')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
