<template>
  <div>
    <h1>AggregatedData</h1>

    <h2>Beschreibung</h2>
    <p>Dies ist eine generiete Kollektion, die von der Datenbank selbst durch den Aufruf einer <a :href="'https://docs.mongodb.com/manual/core/map-reduce'" target="_blank">Map-Reduce</a>-Funktion
      erstellt wird. Hier sind bereits alle relevanten Messdaten jeder einzelnen Turbine f&uuml;r einen bestimmten
      Zeitraum aggregiert worden. Es sind nicht nur einfache Werte, sondern auch Werte-Arrays f&uuml;r die Darstellung
      von Graphen zu finden.</p>

    <h2>Beispiel</h2>
    <div class="table table2">
      <div class="tr italic">
        <div class="td">_id</div>
        <div class="td">&ldquo;,590b78ce4fd8163d68204c9f,590b78ce4fd8163d68204ca1,<br />
          590b78ce4fd8163d68204ca7,590b78ce4fd8163d68204cb9,<br />590b78cf4fd8163d68204d37,&ldquo;</div>
      </div>
      <div class="tr">
        <div class="td italic">value.activeTurbines</div>
        <div class="td">100</div>
      </div>
      <div class="tr italic">
        <div class="td">value.activeTurbineValues</div>
        <div class="td">[0, 80, 100, 100, 90, 100, 100, 100]</div>
      </div>
      <div class="tr italic">
        <div class="td">value.actProduction</div>
        <div class="td">624219936.75</div>
      </div>
      <div class="tr italic">
        <div class="td">value.actProductionValues</div>
        <div class="td">[0, 74128222.08, 91399761.78, 154093193.52, 87388202.70, 48211735.26, 77139645.21, 91859176.2]</div>
      </div>
      <div class="tr italic">
        <div class="td">value.potProductionValues</div>
        <div class="td">[33446892.39, 89588841.75, 99222005.19, 162865174.38, 90322956.72, 50740641.18, 81979781.64, 95585068.80]</div>
      </div>
      <div class="tr italic">
        <div class="td">value.reactivePower</div>
        <div class="td">-187265981.02</div>
      </div>
      <div class="tr italic">
        <div class="td">value.reactivePowerValues</div>
        <div class="td">[0, -22238466.62, -27419928.53, -46227958.06, -26216460.81, -14463520.58, -23141893.56, -27557752.86]</div>
      </div>
      <div class="tr">
        <div class="td italic">value.windDirectionValues</div>
        <div class="td">[269.6, 180.3, 15.7, 16.5, 104.7, 88.9, 23.1, 125.5]</div>
      </div>
      <div class="tr">
        <div class="td italic">value.windSpeedValues</div>
        <div class="td">[4.49, 9.5, 9.87, 11.8, 9.53, 7.91, 9.06, 7.14]</div>
      </div>
    </div>

    <p>Validierungsschema zum <a href="'../../../assets/technic/backend/download/'">Download</a>.</p>
    <div class="space"></div>


    <h2>Attribute</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">BSON-Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">_id</div>
        <div class="td">ObjectId</div>
        <div class="td">Pfad der aggregierten Data-Eintr&auml;ge.</div>
      </div>

      <div class="tr">
        <div class="td italic">value</div>
        <div class="td">Document</div>
        <div class="td">Verschachteltes Dokument, dass die aggregierten Daten h&auml;lt.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.activeTurbines</div>
        <div class="td">Double</div>
        <div class="td">Prozentangabe der aktuell aktiven Turbinen.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.activeTurbineValues</div>
        <div class="td">Double [ ]</div>
        <div class="td">Array mit aggregierten Prozentangaben zum Turbinenstatus, zur Darstellung in Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.actProduction</div>
        <div class="td">Double</div>
        <div class="td">Aggregierter Wert der tats&auml;chlichen Produktion.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.actProductionValues</div>
        <div class="td">Double [ ]</div>
        <div class="td">Array mit aggregierten Werten der tats&auml;chlichen Produktion zur Darstellung in Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.potProductionValues</div>
        <div class="td">Double [ ]</div>
        <div class="td">Array mit aggregierten Werten der potentiellen Produktion zur Darstellung in Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.reactivePower</div>
        <div class="td">Double</div>
        <div class="td">Aggregierter Wert der Blindleistung.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.reactivePowerValues</div>
        <div class="td">Double [ ]</div>
        <div class="td">Array mit aggregierten Werten der Blindleistung zur Darstellung in Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.windDirectionValues</div>
        <div class="td">Double [ ]</div>
        <div class="td">Array mit aggregierten Werten der Windrichtung zur Darstellung in Graphen.</div>
      </div>

      <div class="tr">
        <div class="td italic">value.windSpeedValues</div>
        <div class="td">Double [ ]</div>
        <div class="td">Array mit aggregierten Werten der Windgeschwindigkeit zur Darstellung in Graphen.</div>
      </div>
    </div>

    <p><span class="bold">Download:</span> <a :href="'https://drive.google.com/open?id=0B2WipSrJRZhdanpOdVpaT3Rzajg'" target="_blank">Validierungsschema</a></p>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
