<template>
  <div>
    <h1>Alarm</h1>

    <h2>Beschreibung</h2>
    <p>Die Daten eines Alarms der zu einem bestimmten Zeitpunkt bei einer bestimmten Turbine aufgetreten ist.</p>

    <h2>Beispiel</h2>
    <div class="table table2">
      <div class="tr italic">
        <div class="td">_id</div>
        <div class="td">ObjectId(&lsquo;5916e71a0756fe37f854e6c3&lsquo;)</div>
      </div>
      <div class="tr">
        <div class="td italic">acknowledged</div>
        <div class="td">false</div>
      </div>
      <div class="tr">
        <div class="td italic">alarmCode</div>
        <div class="td">333333</div>
      </div>
      <div class="tr italic">
        <div class="td">category</div>
        <div class="td">&ldquo;critical&ldquo;</div>
      </div>
      <div class="tr italic">
        <div class="td">end</div>
        <div class="td">null</div>
      </div>
      <div class="tr">
        <div class="td italic">path</div>
        <div class="td">&ldquo;,590b78ce4fd8163d68204c9f,590b78ce4fd8163d68204ca1,<br />
          590b78ce4fd8163d68204ca7,590b78ce4fd8163d68204cb9,<br />590b78cf4fd8163d68204d37,&ldquo;</div>
      </div>
      <div class="tr italic">
        <div class="td">reason</div>
        <div class="td">&ldquo;Gear Box Temperature&ldquo;</div>
      </div>
      <div class="tr">
        <div class="td italic">reseted</div>
        <div class="td">true</div>
      </div>
      <div class="tr italic">
        <div class="td">start</div>
        <div class="td">2017-04-03 18:56:59.301</div>
      </div>
      <div class="tr italic">
        <div class="td">stationid</div>
        <div class="td">999999</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Attribute</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">BSON-Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">_id</div>
        <div class="td">ObjectId</div>
        <div class="td">Eindeutige Datenbank-Kennung.</div>
      </div>

      <div class="tr">
        <div class="td italic">acknowledged</div>
        <div class="td">Boolean</div>
        <div class="td">H&auml;lt fest, ob der Alarm bereits gesichtet wurde.</div>
      </div>

      <div class="tr">
        <div class="td italic">alarmCode</div>
        <div class="td">Long</div>
        <div class="td">Eindeutige Kennung des Alarm-Types.</div>
      </div>

      <div class="tr">
        <div class="td italic">category</div>
        <div class="td">String</div>
        <div class="td">Schweregrad des Alarms. Werte: <span class="italic">low</span>, <span class="italic">medium</span>
          und <span class="italic">critical</span>.</div>
      </div>

      <div class="tr">
        <div class="td italic">end</div>
        <div class="td">Date</div>
        <div class="td">Endzeitpunkt des Alarms.</div>
      </div>

      <div class="tr">
        <div class="td italic">path</div>
        <div class="td">String</div>
        <div class="td">Hierarchisch geordnete Liste der Elternelemente, welche durch Kommas separiert sind.</div>
      </div>

      <div class="tr">
        <div class="td italic">reason</div>
        <div class="td">String</div>
        <div class="td">Grund f&uuml;r den Alarm mit diesem speziellen Alarm-Code.</div>
      </div>

      <div class="tr">
        <div class="td italic">reseted</div>
        <div class="td">Boolean</div>
        <div class="td">H&auml;lt fest, ob der Alarm bereits zurückgesetzt wurde.</div>
      </div>

      <div class="tr">
        <div class="td italic">start</div>
        <div class="td">Date</div>
        <div class="td">Startzeitpunkt des Alarms.</div>
      </div>

      <div class="tr">
        <div class="td italic">stationid</div>
        <div class="td">Long</div>
        <div class="td">Id des Sensors / der Turbine, die den Alarm gemeldet hat.</div>
      </div>
    </div>

    <p><span class="bold">Download:</span> <a :href="'https://drive.google.com/open?id=0B2WipSrJRZhdU0lydEc4Z1VDRVk'" target="_blank">Validierungsschema</a></p>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
