<template>
  <div>
    <h1>Data</h1>

    <h2>Beschreibung</h2>
    <p>Messwerte einer bestimmten Turbine zu einem bestimmten Zeitpunkt.</p>

    <h2>Beispiel</h2>
    <div class="table table2">
      <div class="tr italic">
        <div class="td">_id</div>
        <div class="td">ObjectId(&lsquo;590b8723ffb4010da89b55a3&lsquo;)</div>
      </div>
      <div class="tr">
        <div class="td italic">actProduction</div>
        <div class="td">0</div>
      </div>
      <div class="tr italic">
        <div class="td">curtailment</div>
        <div class="td">&ldquo;noiseReduction&ldquo;</div>
      </div>
      <div class="tr italic">
        <div class="td">date</div>
        <div class="td">2016-12-05 02:00:00.000</div>
      </div>
      <div class="tr">
        <div class="td italic">path</div>
        <div class="td">&ldquo;,590b78ce4fd8163d68204c9f,590b78ce4fd8163d68204ca1,
          <br />590b78ce4fd8163d68204ca7,590b78ce4fd8163d68204cb9,<br />590b78cf4fd8163d68204d37,&ldquo;</div>
      </div>
      <div class="tr">
        <div class="td italic">potProduction</div>
        <div class="td">24211157.85</div>
      </div>
      <div class="tr">
        <div class="td italic">reactivePower</div>
        <div class="td">0</div>
      </div>
      <div class="tr italic">
        <div class="td">status</div>
        <div class="td">&ldquo;inactive&ldquo;</div>
      </div>
      <div class="tr italic">
        <div class="td">temperature</div>
        <div class="td">13</div>
      </div>
      <div class="tr italic">
        <div class="td">windDirection</div>
        <div class="td">293</div>
      </div>
      <div class="tr italic">
        <div class="td">windSpeed</div>
        <div class="td">6.50</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Attribute</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">BSON-Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">_id</div>
        <div class="td">ObjectId</div>
        <div class="td">Eindeutige Datenbank-Kennung.</div>
      </div>

      <div class="tr">
        <div class="td italic">actProduction</div>
        <div class="td">Boolean</div>
        <div class="td">Tats&auml;chlich gemessene Produktion.<br />Einheit: Wh</div>
      </div>

      <div class="tr">
        <div class="td italic">curtailment</div>
        <div class="td">String</div>
        <div class="td">Aufgetretener St&ouml;rfaktor, der die Produktion beeinflusst hat.<br />
          Werte: <span class="italic">wakeEffect</span>, <span class="italic">noiseReduction</span>,
          <span class="italic">wildLifeDetection</span>, <span class="italic">iceDetection</span>,
          <span class="italic">loadControl</span> und <span class="italic">unknown</span>
        </div>
      </div>

      <div class="tr">
        <div class="td italic">date</div>
        <div class="td">Date</div>
        <div class="td">Zeitpunkt der Messung.</div>
      </div>

      <div class="tr">
        <div class="td italic">path</div>
        <div class="td">String</div>
        <div class="td">Hierarchisch geordnete Liste der Elternelemente, welche durch Kommas separiert sind.</div>
      </div>

      <div class="tr">
        <div class="td italic">potProduction</div>
        <div class="td">Long</div>
        <div class="td">Potentiell m&ouml;gliche Produktion &dash; berechnet anhand der Turbinendaten und der gemessenen
          Windgeschwindigkeit.<br />Einheit: Wh</div>
      </div>

      <div class="tr">
        <div class="td italic">reactivePower</div>
        <div class="td">Double</div>
        <div class="td">Gemessene Blindleistung.<br />Einheit: var</div>
      </div>

      <div class="tr">
        <div class="td italic">status</div>
        <div class="td">String</div>
        <div class="td">Status der Turbine.<br />Werte: <span class="italic">active</span> und <span class="italic">inactive</span></div>
      </div>

      <div class="tr">
        <div class="td italic">temperature</div>
        <div class="td">Integer</div>
        <div class="td">Gemessene Temperatur.<br />Einheit: &deg;C.</div>
      </div>

      <div class="tr">
        <div class="td italic">windDirection</div>
        <div class="td">Integer</div>
        <div class="td">Gemessene Windrichtung.<br />Einheit: &deg;.</div>
      </div>

      <div class="tr">
        <div class="td italic">windSpeed</div>
        <div class="td">Double</div>
        <div class="td">Gemessene Windgeschwindigkeit.<br />Einheit: m/s.</div>
      </div>
    </div>

    <p><span class="bold">Download:</span> <a :href="'https://drive.google.com/open?id=0B2WipSrJRZhdc29jRlF0dksyems'" target="_blank">Validierungsschema</a></p>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
