<template>
  <div>
    <h1>Fleet</h1>

    <h2>Beschreibung</h2>
    <p>Die Rahmendaten eines Fleets. Ein Fleet ist ein geographisch unabh&auml;ngiger Zusammenschluss verschiedener Sites.</p>

    <h2>Beispiel</h2>
    <div class="table table2">
      <div class="tr italic">
        <div class="td">_id</div>
        <div class="td">ObjectId(&lsquo;'590b78ce4fd8163d68204c9f&lsquo;)</div>
      </div>
      <div class="tr">
        <div class="td italic">lat</div>
        <div class="td">30.83</div>
      </div>
      <div class="tr">
        <div class="td italic">long</div>
        <div class="td">31.27</div>
      </div>
      <div class="tr">
        <div class="td italic">manufacturerId</div>
        <div class="td">100000001</div>
      </div>
      <div class="tr">
        <div class="td italic">name</div>
        <div class="td">&ldquo;fleet1&ldquo;</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Attribute</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">BSON-Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">_id</div>
        <div class="td">ObjectId</div>
        <div class="td">Eindeutige Datenbank-Kennung.</div>
      </div>

      <div class="tr">
        <div class="td italic">lat</div>
        <div class="td">Double</div>
        <div class="td">Breitengrad der Fleet-Position.</div>
      </div>

      <div class="tr">
        <div class="td italic">long</div>
        <div class="td">Double</div>
        <div class="td">L&auml;ngengrad der Fleet-Position.</div>
      </div>

      <div class="tr">
        <div class="td italic">manufacturerId</div>
        <div class="td">Long</div>
        <div class="td">Eindeutige Seriennummer des Herstellers.</div>
      </div>

      <div class="tr">
        <div class="td italic">name</div>
        <div class="td">String</div>
        <div class="td">Anzeigename des Fleets.</div>
      </div>
    </div>

    <p><span class="bold">Download:</span> <a :href="'https://drive.google.com/open?id=0B2WipSrJRZhddGVRcjViNExPUk0'" target="_blank">Validierungsschema</a></p>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
