<template>
  <div>
    <h1>MongoDB</h1>

    <h2>Einf&uuml;hrung</h2>
    <p>MongoDB ist eine dokumentenorientierte Open-Source-Datenbank, die in der Programmiersprache C++ geschrieben ist.
      Dokumente sind in diesem Kontext Objekte mit Attributen, die in einer Sammlung (Collection) verwaltet werden.
      Dokumente werden im so genannten BSON-Format (Binary JSON = BSON) gespeichert und ausgegeben, welches sich an die
      JavaScript Object Notation (JSON) anlehnt. Dadurch eignet sich die Datenbank besonders gut f&uuml;r Webapplikationen,
      da die in der Applikation erarbeiten Daten, ohne Konvertierung in MongoDB gespeichert werden k&ouml;nnen.</p>

    <p>Die Objekte einer Sammlung m&uuml;ssen nicht zwingend strukturell gleich sein. <a :href="'https://entwickler.de/online/datenbanken/mongodb-erfolgreich-ein-dokumentenorientiertes-datenbanksystem-einfuehren-115079.html'" target="_blank">MongoDB</a> setzt kein zuvor beschriebenes
      Datenschema voraus. Zudem d&uuml;rfen Dokumente auch innerhalb eines Dokuments gespeichert werden.</p>

    <h2>Aggregation</h2>
    <p>Die Geschwindigkeit von MongoDB zeigt sich besonders beim Aggregieren von Daten, da die M&ouml;glichkeit besteht,
      einzelne Datenpunkte in einem Dokument zu inkrementieren. Somit eignet sich MongoDB besonders gut, um gro&szlig;e
      Datenmengen zu analysieren oder um Datens&auml;tze zusammenzufassen.</p>

    <p><span class="bold">Aggregation Pipeline</span> &ndash; Dokumente durchlaufen eine mehrstufige Pipeline, die die Dokumente in ein aggregiertes Ergebnis umwandelt.
      Die grundlegendsten Pipeline-Stufen bieten Filter, die wie Abfragen und Dokumententransformationen funktionieren
      und die Form des Ausgabedokuments &auml;ndern. Andere Pipeline-Operationen bieten Werkzeuge f&uuml;r die Gruppierung
      und Sortierung von Dokumenten durch bestimmte Felder.</p>

    <p><span class="bold">Map- Reduce</span> &ndash; <a :href="'https://docs.mongodb.com'" target="_blank">Map-reduce</a> ist ein Datenverarbeitungsparadigma für die Zusammenfassen großer Datenmengen in nützliche aggregierte Ergebnisse.</p>
    <div class="space"></div>


    <h2>Rechereche</h2>
    <p>F&uuml;r die Umsetzung der Datenbank wurde MongoDB verwendet, eine dokumentenbasierte NoSQL-Datenbank. NoSQL-Datenbanken bieten weit mehr Flexibilit&auml;t bei Eintr&auml;gen und Schemata als relationale Datenbanken und erleichtern das Herstellen von Beziehungen zwischen verschiedenen Eintr&auml;gen. F&uuml;r das vorliegende Projekt ist ein dokumentbasierter Aufbau am besten geeignet.</p>

    <div>
      <img src="../../../assets/technic/backend/mongoDB_research.jpg" alt="MongoDB Recherche" title="MongoDB Recherche">
    </div>

    <p class="italic">Quelle: <a :href="'https://db-engines.com/de/system/Amazon+DynamoDB%3BCouchDB%3BCouchbase%3BMongoDB'" target="_blank">DB Engines</a></p>

    <p>Auf Rang zwei der dokumentbasierten Datenbanken liegt Amazon DynamoDB. Diese ist allerdings ungeeignet, da s&auml;mtliche
      Daten in der Amazon Cloud gespeichert werden und im Projekt sensible Daten verwaltet werden. MongoDB hat die besten Bewertungen
      und eine umfangreiche Community. Zus&auml;tzlich werden zahlreiche Typisierungen geboten und das Modellieren von Baumstrukturen
      ist sehr simpel. Somit war MongoDB die beste Wahl.</p>
    <div class="space"></div>


    <h2>Aufbau</h2>
    <p>Der Grundkern der Datenbank besteht als den Kollektionen <a @click="openFleet">Fleet</a>, <a @click="openSite">Site</a>,
      <a @click="openPark">Park</a>, <a @click="openFeederLine">FeederLine</a> und <a @click="openTurbine">Turbine</a>.
      Diese Kollektionen bilden die Windkraftanlagen-Struktur ab und enthalten generelle Informationen, die sich selten bis
      nie &auml;ndern. <a @click="openAlarm">Alarm</a> und <a @click="openData">Data</a> hingegen bilden s&auml;mtliche Daten ab,
      die von den Turbinen im Laufe der Zeit erfasst werden und wachsen stetig.</p>

    <div>
      <img src="../../../assets/technic/backend/GeneralData.jpg" alt="General Data" title="General Data">
    </div>

    <p>Um komplexe Datenabfragen beispielsweise f&uuml;r Graphen Darstellungen zu vereinfachen und die Performance zu verbessern,
      existiert eine weitere Kollektion <a @click="openAggregatedData">_AggregatedData</a>. Diese unterscheidet sich von den restlichen Eintr&auml;gen
      darin, dass sie von MongoDB selbst, bei Aufruf einer <a :href="'https://docs.mongodb.com/manual/core/map-reduce'" target="_blank">Map-Reduce</a>-Funktion, generiert wird und h&auml;lt
      bereits f&uuml;r einen bestimmten Zeitraum voraggregierte Daten f&uuml;r jede Turbine.</p>

    <div>
      <img src="../../../assets/technic/backend/AggregatedData.jpg" alt="Aggregation Data" title="Aggreagation Data">
    </div>

    <p>Bei der Aggregation werden s&auml;mtliche Messwerte im Zeitraum gleichm&auml;&szlig;ig verteilt und zu acht Werten kombiniert.
      Dabei wird eventueller Werte&uuml;berschuss auf die &bdquo;&auml;lteren&ldquo; Werte verteilt.</p>

    <div>
      <img src="../../../assets/technic/backend/reduceArray.jpg" alt="Code" title="Code">
    </div>

    <p>Um sicherzustellen, dass sich keine groben Fehler in die Datenbank einschleichen, wurden <a :href="'https://docs.mongodb.com/manual/core/document-validation'" target="_blank">Validierungsschemata</a> in der
      Datenbank hinterlegt. Diese lassen einen falschen Eintrag nicht zu.</p>

    <p class="italic">Verfasst von Lilia Kraft und Nicole Wei&szlig;</p>

  </div>
</template>

<script>
  import { eventBus } from '../../../main.js'

  export default {
    methods: {
      openFleet () {
        eventBus.$emit('componentClick', 'app-fleet')
      },
      openSite () {
        eventBus.$emit('componentClick', 'app-site')
      },
      openPark () {
        eventBus.$emit('componentClick', 'app-park')
      },
      openFeederLine () {
        eventBus.$emit('componentClick', 'app-feederline')
      },
      openTurbine () {
        eventBus.$emit('componentClick', 'app-turbine')
      },
      openAlarm () {
        eventBus.$emit('componentClick', 'app-alarm')
      },
      openData () {
        eventBus.$emit('componentClick', 'app-data')
      },
      openAggregatedData () {
        eventBus.$emit('componentClick', 'app-aggregateddata')
      }
    }
  }
</script>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
