<template>
  <div>
    <h1>Turbine</h1>

    <h2>Beschreibung</h2>
    <p>Die Rahmendaten einer einzelnen Turbine.</p>

    <h2>Beispiel</h2>
    <div class="table table2">
      <div class="tr italic">
        <div class="td">_id</div>
        <div class="td">ObjectId(&lsquo;590b78cf4fd8163d68204d37&lsquo;)</div>
      </div>
      <div class="tr">
        <div class="td italic">ip</div>
        <div class="td">300000459</div>
      </div>
      <div class="tr">
        <div class="td italic">lat</div>
        <div class="td">47.50</div>
      </div>
      <div class="tr">
        <div class="td italic">long</div>
        <div class="td">-8.50</div>
      </div>
      <div class="tr">
        <div class="td italic">manufacturerId</div>
        <div class="td">100000153</div>
      </div>

      <div class="tr">
        <div class="td italic">model</div>
        <div class="td">&quot;SWT-4.0-120&quot;</div>
      </div>
      <div class="tr">
        <div class="td italic">name</div>
        <div class="td">&ldquo;turbine1&ldquo;</div>
      </div>
      <div class="tr">
        <div class="td italic">path</div>
        <div class="td">&ldquo;,590b78ce4fd8163d68204c9f,590b78ce4fd8163d68204ca1,<br />590b78ce4fd8163d68204ca7,590b78ce4fd8163d68204cb9,&ldquo;</div>
      </div>
    </div>
    <div class="space"></div>


    <h2>Attribute</h2>
    <div class="table table3">
      <div class="tr bold">
        <div class="td">Name</div>
        <div class="td">BSON-Typ</div>
        <div class="td">Beschreibung</div>
      </div>

      <div class="tr">
        <div class="td italic">_id</div>
        <div class="td">ObjectId</div>
        <div class="td">Eindeutige Datenbank-Kennung.</div>
      </div>

      <div class="tr">
        <div class="td italic">ip</div>
        <div class="td">Long</div>
        <div class="td">Eindeutige Ip der Turbine, f&uuml;r Kommunikationszwecke.</div>
      </div>

      <div class="tr">
        <div class="td italic">lat</div>
        <div class="td">Double</div>
        <div class="td">Breitengrad der Turbinen-Position.</div>
      </div>

      <div class="tr">
        <div class="td italic">long</div>
        <div class="td">Double</div>
        <div class="td">L&auml;ngengrad der Turbinen-Position.</div>
      </div>

      <div class="tr">
        <div class="td italic">manufacturerId</div>
        <div class="td">Long</div>
        <div class="td">Eindeutige Seriennummer des Herstellers.</div>
      </div>

      <div class="tr">
        <div class="td italic">modal</div>
        <div class="td">String</div>
        <div class="td">Modelnummer der Turbine.</div>
      </div>

      <div class="tr">
        <div class="td italic">name</div>
        <div class="td">String</div>
        <div class="td">Anzeigename der Turbine.</div>
      </div>

      <div class="tr">
        <div class="td italic">path</div>
        <div class="td">String</div>
        <div class="td">Hierarchisch geordnete Liste der Elternelemente, welche durch Kommas separiert sind.</div>
      </div>
    </div>

    <p><span class="bold">Download:</span> <a :href="'https://drive.google.com/open?id=0B2WipSrJRZhdSmJVNXBJcjdSWUE'" target="_blank">Validierungsschema</a></p>

    <p class="italic">Verfasst von Nicole Wei&szlig;</p>

  </div>
</template>

<style scoped>
  h1 {
    margin: 0 0 20px 0;
    font-size: 125%;
  }

  h1, h2 {
    padding: 0;
    color: #2B2B2B;
  }

  h2{
    font-size: 100%;
  }

  ul, li {
    font-size: 100%;
    font-weight: normal;
  }

  ul li ul li {
    margin: 0 0 0 40px;
  }

</style>
